.verification-passport {
    font-family: $segoe;
    color: $darktext;
}

.verification-passport__row {
    margin-bottom: 58px;

    &:last-child {
        margin-bottom: 0;
    }
}

.verification-passport__row-title {
    margin-bottom: 38px;

    font-size: 16px;
    font-weight: 700;
}

.verification-passport__inputs-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 52px;
}

.verification-passport__inputs-item {
    width: 15%;
    flex: 1 1 auto;
    margin-right: 36px;

    &--long {
        flex-grow: 2;
    }
}

.verification-passport__toggler {
    position: relative;
    margin-bottom: 25px;
}

.verification-passport__toggler-input {
    position: absolute;
    opacity: 0;
}

.verification-passport__toggler-label {
    position: relative;
    display: block;

    cursor: pointer;
}

.verification-passport__toggler-icon {
    position: absolute;
    width: 32px;
    height: 16px;
    left: 0;
    top: 50%;
    transform: translateY(-35%);
    border-radius: 8px;
    background-color: #f5f7f9;

    transition: background-color 300ms ease;

    &::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        left: 1px;
        top: 1px;
        border: 1px solid white;

        background-color: #bdc6d0;

        transition: transform 300ms ease, background-color 300ms ease;
    }
}

.verification-passport__toggler-input:checked+.verification-passport__toggler-icon {
    background-color: #5fce67;

    &::before {
        background-color: #fff;
        left: auto;
        transform: translateX(17px);
    }
}

.verification-passport__toggler-text {
    padding-left: 47px;

    font-size: 16px;
}