.partner-secondary-triggers {
    padding-top: 80px;
    padding-bottom: 105px;

    font-family: $segoe;
    color: $darktext;
}

.partner-secondary-triggers__heading {
    margin-bottom: 40px;
}

.partner-secondary-triggers__list {
    padding: 0;
    margin: 0 auto 35px;
    list-style: none;

    display: flex;
    max-width: 880px;
    justify-content: space-between;
}

.partner-secondary-triggers__item {
    flex: 0 0 225px;
}

.partner-secondary-triggers__item-image {
    position: relative;
    width: 90px;
    height: 80px;
    margin: 0 auto 20px;

    svg {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
}

.partner-secondary-triggers__item-legend {
    margin-bottom: 5px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.71;
    letter-spacing: 1.4px;
    text-align: center;
    color: $lightgrey;
    text-transform: uppercase;
}

.partner-secondary-triggers__item-text {
    font-size: 16px;
    font-stretch: normal;
    line-height: 1.33;
    text-align: center;
    color: $darktext;
}

.partner-secondary-triggers__button {
    @include btn-theme;
    width: 288px;
    padding: 16px;
    margin: 0 auto;

    font-size: 18px;
    font-weight: 600;
}


@media (max-width: 768px) {
    .partner-secondary-triggers {
        padding-top: 40px;
        padding-bottom: 65px;
    }

    .partner-secondary-triggers__heading {
        margin-bottom: 25px;

        font-size: 32px;
    }

    .partner-secondary-triggers__list {
        flex-direction: column;
        max-width: 480px;
        margin: 0 auto 50px;
        padding: 0 28px;
    }

    .partner-secondary-triggers__item {
        flex: 0 0 auto;
        margin-bottom: 35px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .partner-secondary-triggers__item-image {
        margin: 0 auto 25px;
    }

    .partner-secondary-triggers__button {
        width: 264px;
    }
}

@media (max-width: 380px) {
    .partner-secondary-triggers__list {
        padding: 0;
    }

    .partner-secondary-triggers__item-image {
        width: 70px;
        height: 60px;
    }
}