mixin partner-secondary-triggers()
    +b.SECTION.partner-secondary-triggers
        +inner
            +e.heading
                +subtitle('center')
                    | Вместе выгоднее
                +title('center')
                    | Три простых шага к партнерству
            +e.UL.list
                +e.LI.item
                    +e.item-image
                        include ../../../app/images/partner/secondary-trigger1.svg
                    +e.item-legend Регистрация
                    +e.item-text
                        | Пройдите регистрацию, заполнив все поля.
                +e.LI.item
                    +e.item-image.--reverse
                        include ../../../app/images/partner/secondary-trigger2.svg
                    +e.item-legend Сертификат
                    +e.item-text
                        | Получите сертификат и партнерское соглашение.
                +e.LI.item
                    +e.item-image
                        include ../../../app/images/partner/secondary-trigger3.svg
                    +e.item-legend Доход
                    +e.item-text
                        | Создайте для себя надежный и долгосрочный источник дохода, став нашим партнером.
            +e.BUTTON.button Стать партнером