mixin object-location()
    +b.SECTION.object-location
        +e.P.text
            | Торговое помещение супермаркета «Пятерочка» располагается на центральной магистрали Люберец – Октябрьском проспекте, по движению в сторону г. Москва. Данный актив исторически является местом повышенного спроса среди арендаторов, в первую очередь - федеральных продуктовых сетей.
        +e.P.text
            | Располагаясь на первой линии домов, объект обладает прямой видимостью при движении по основным транспортным потокам. Высокая пешеходная и транспортная доступность обусловлена расположением вблизи остановки общественного транспорта и плотной жилой застройки. Объект имеет развитую инфраструктуру и удобную парковку, позволяющую вместить до 15 автомобилей, окружен общественными строениями повышенной проходимости: на расстоянии менее 50 метров от объекта располагается федеральное государственное учреждение, в 150 метрах располагается среднее образовательное учреждение и более 15 жилых домов численностью до 8000 человек.
        +e.P.text
            | Развитая инфраструктура, наличие удобной парковки и привлекательного фасада, прямая видимость с Октябрьского проспекта, а также отсутствие прямых конкурентов в радиусе 2.5 км делают предлагаемый объект максимально привлекательным.
        +e.map
            +e.map-inner
                #object-map



