mixin socials()
    +b.socials
        +e.A.item.--facebook(href='https://facebook.com/' target='_blank' rel="nofollow noopener")
            include ../../../app/images/layout/facebook.svg
        +e.A.item.--twitter(href='https://www.instagram.com/' target='_blank' rel="nofollow noopener")
            include ../../../app/images/layout/twitter.svg
        +e.A.item.--vk(href='https://vk.com/' target='_blank' rel="nofollow noopener")
            include ../../../app/images/layout/vk.svg
