mixin socials()
    +b.socials
        +e.A.item.--vk(href='https://vk.com/advokatkin' target='_blank' rel="nofollow noopener")
        +e.A.item.--instagram(href='https://www.instagram.com/advokatkin/' target='_blank' rel="nofollow noopener")
        +e.A.item.--facebook(href='https://facebook.com/Адвокаткин-Москва-227251364528220' target='_blank' rel="nofollow noopener")
