.object-calculator__heading {
    margin: 0;
    margin-bottom: 10px;

    font-size: 24px;
}

.object-calculator__content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.object-calculator__col {
    flex: 1 1 35%;
    margin-right: 100px;

    &:last-child {
        margin-right: 0;
    }
}

.object-calculator__block {
    margin-bottom: 25px;
}

.object-calculator__label {
    margin-bottom: 2px;

    font-size: 14px;

    &--big {
        font-size: 16px;
    }
}

.object-calculator__tip {
    margin-top: 5px;
    margin: 2px;

    font-size: 12px;
    opacity: 0.4;
}

.object-calculator__data {
    font-size: 16px;
    font-weight: 700;

    .data-ruble {
        font-size: 14px;
    }

    &--big {
        margin-top: 10px;

        font-size: 24px;

        .data-ruble {
            font-size: 22px;
        }
    }
}

.object-calculator__summ-range {
    margin-bottom: 40px;
}

.object-calculator__summ {
    font-size: 24px;
    font-weight: 700;

    .rangeslider {
        height: 2px;
        width: 100%;
        background: #f5f7f9;
        position: relative;
        margin: 18px 0;
    }

    .rangeslider__fill {
        position: absolute;
        top: 0;
        height: 100%;
        background: $themecolor;
        border: 2px solid $themecolor;
    }

    .rangeslider__handle {
        background: #fff;
        border: 4px solid $themecolor;
        height: 30px;
        width: 30px;
        top: -13px;
        position: absolute;
        border-radius: 50%;
        cursor: pointer;
    }

    .rangeslider--disabled {
        opacity: 0.4
    }
}

.object-calculator__appeal {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.object-calculator__appeal-button {
    @include btn-theme;
    padding: 16px;
    margin-right: 20px;
    width: 227px;
    flex: 0 0 227px;

    font-weight: 600;
    font-size: 18px;
}

.object-calculator__appeal-text {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    font-weight: normal;
}

@media (max-width: 1024px) {
    .object-calculator {
        padding-top: 20px;
    }
}

@media (max-width: 768px) {
    .object-calculator__col {
        margin-right: 20px;
    }
}

@media (max-width: 480px) {
    .object-calculator__label {
        font-size: 13px;

        &--big {
            font-size: 14px;
        }
    }

    .object-calculator__summ {
        font-size: 22px;

        .rangeslider__handle {
            height: 20px;
            width: 20px;
            top: -8px;
        }
    }

    .object-calculator__data {
        &--big {
            font-size: 22px;
        }
    }

    .object-calculator__appeal {
        display: block;
    }

    .object-calculator__appeal-button {
        margin: 0 auto;
    }
}

