mixin object-calculator()
    +b.SECTION.object-calculator
        +e.slider
            +e.label.--big Сумма инвестиций
                +e.summ
                    span.data-result#object_summ1 500 000
                    span.data-ruble  ₽
                    +e.summ-range#object_summ1-scroll
                        input#object_summ1-range(value="500000" step="100000" max="5000000" min="100000" name="summ1" type="range")
        +e.content
            +e.col
                +e.block
                    +e.label Первоначальная доходность
                    +e.tip (~за 10 лет, до НДФЛ, на момент формирования фонда)
                    +e.data 10.98%
                +e.block
                    +e.label Первоначальная стоимость фонда
                    +e.data 160 000 000  ₽
                +e.block
                    +e.label Приобретенных паев
                    +e.data 457
            +e.col
                +e.block
                    +e.label.--big Ваш ежемесячный доход
                    +e.tip (~за 10 лет, до НДФЛ, на момент формирования фонда) 
                    +e.data.--big 
                        span.data-result 480.24
                        span.data-ruble  ₽
                +e.block
                    +e.label Сопровождение сделки 2%
                    +e.tip 2%, но не менее 2000 рублей, включено в стоимость пая
                    +e.data
                        span.data-result 2048
                        span.data-ruble  ₽
                +e.block
                    +e.label К оплате итого: 
                    +e.data
                        span.data-result 499 638.10
                        span.data-ruble  ₽
        +e.appeal
            +e.BUTTON.appeal-button Отправить заявку
            +e.P.appeal-text Наш менеджер свяжется с вами в течение 24 часов
                   