mixin partner-topscreen ()
    +b.SECTION.partner-topscreen
        +e.image.--first.fadeIn.wow(data-wow-delay="0s")
            img(src='images/partner/topscreen1.jpg')
        +e.image.--second.fadeIn.wow(data-wow-delay="0.3s")
            img(src='images/partner/topscreen2.jpg')
        +e.image.--third.fadeIn.wow(data-wow-delay="0.6s")
            img(src='images/partner/topscreen3.jpg')
        +e.wrapper.fadeIn.wow(data-wow-delay="0.9s")
            +e.H1.heading Постройте совместный<br> бизнес с<br> Aktivo
            +e.P.about
                | Aktivo — лидер краудфандинга недвижимости в России. <br> Мы обеспечиваем возможность успешным людям максимально прозрачно и просто приобретать объекты коммерческой недвижимости, для получения ежемесячного дохода.
            +e.A.button(href='#') Стать партнером