mixin partner-topscreen ()
    +b.SECTION.partner-topscreen
        +e.image.--first.fadeIn.wow(data-wow-delay="0s")
            img(src='images/partner/partner-topscreen1.jpg')
        +e.image.--second.fadeIn.wow(data-wow-delay="0.3s")
            img(src='images/partner/partner-topscreen2.jpg')
        +e.image.--third.fadeIn.wow(data-wow-delay="0.6s")
            img(src='images/partner/partner-topscreen3.jpg')
        +e.wrapper.fadeIn.wow(data-wow-delay="0.9s")
            +e.H1.heading Клуб Liberty
            +e.P.about
                | закрытое сообщеcтво предпринимателей, крупных инвесторов и топ-менеджеров, разделяющих идею создания единого российского marketplace коммерческой недвижимости AKTIVO.
            +e.A.button(href='#') Стать участником клуба