.verification-upload {
    // padding: 30px 96px 72px;

    font-family: $segoe;
    color: $darktext;
}

.verification-upload__title {
    margin-bottom: 45px;

    font-size: 16px;
    font-weight: 700;
}

.verification-upload__container {
    margin-bottom: 80px;
}

.verification-upload__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    margin-bottom: 55px;

    &:last-child {
        margin-bottom: 0;
    }
}

.verification-upload__block {
    flex: 1 1 auto;
    width: 30%;
    max-width: 320px;
    min-width: 185px;

    display: flex;
    flex-flow: column nowrap;
}

.verification-upload__label {
    margin-bottom: 12px;
    margin-top: auto;

    font-size: 12px;
    font-weight: 400;
}

.verification-upload__form {
    margin-top: auto;
    position: relative;
    width: 184px;
    height: 224px;
    border: 1px dashed $themecolor;
    overflow: hidden;

    cursor: pointer;

    .add {
        position: absolute;
        width: 48px;
        height: 48px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: $themecolor;

        pointer-events: none;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 32px;
            height: 2px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform-origin: center;

            background-color: #fff;
        }

        &::after {
            width: 2px;
            height: 32px;
            // transform: rotate(-90deg) translate(-50%, -50%);
        }
    }

    .dz-preview {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .dz-image {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            max-width: 100%;
            height: auto;
            max-height: 100%;
        }
    }

    .dz-remove {
        position: absolute;
        width: 48px;
        height: 48px;
        right: 0;
        bottom: 0;

        background-color: $themecolor;

        font-size: 0;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 32px;
            top: 50%;
            left: 50%;
            transform: rotate(45deg) translate(0%, -50%);
            transform-origin: top center;

            background-color: #fff;
        }

        &::after {
            transform: rotate(-45deg) translate(0, -50%);
        }
    }

    .dz-progress {
        position: absolute;
        width: 100%;
        height: 7px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border-radius: 3px;
    }

    .dz-upload {
        display: block;
        position: relative;
        height: 100%;
        background-color: $themecolor;
        transition: width 300ms ease;
        opacity: 0;
    }

    .dz-error-message {
        position: absolute;
        bottom: 0px;
        color: #f52f4b;

        line-height: 16px;
        font-size: 14px;
        height: 16px;
        overflow: hidden;
    }
}

@media (max-width: 1024px) {
    .verification-upload__row {
        display: block;
        margin: 0;
    }  

    .verification-upload__block {
        margin: 0 auto 35px;
    }
}

@media (max-width: 768px) {
    .verification-upload__row {
        display: flex;
        margin: 0 auto 45px;
    }  

    .verification-upload__block {
        margin: 0;
    }
}

@media (max-width: 480px) {
    .verification-upload__container {
        margin-bottom: 60px;
    }

    .verification-upload__row {
        display: block;
        margin: 0;
    }

    .verification-upload__block {
        margin: 0 auto 35px;
    }
}
