mixin object-item(id, newObject, club)
    +b.object-item
        if (newObject) 
            +e.banner.--new Скоро
        if (club)
            +e.banner.--club Клубная сделка
        +e.image
            img(src='images/objects/object' + id + '.jpg')
        +e.title Супермаркет «Пятерочка»
        +e.address д. Мисайлово, ул. Луговая, 20
        +e.data
            +e.P.data-content
                span Первоначальная стоимость: <b>62 964 000 руб.</b>
                span Цена за кв. метр: <b>102 264,1 руб.</b>
                span Первоначальная доходность: <b>13,2%</b>
                span Окупаемость: <b>8 лет</b>
                span Мин. инвестиции: <b>2 198 000 руб.</b>
            +e.P.data-content
                span Фонд: <b>ЗПИФН «Активо Восемь»</b>
                span Управляющая компания: <b>КСП Капитал</b>
                span Депозитарная компания: <b>СДК Гарант</b>