mixin object-item(id, newObject, club)
    +b.object-item
        +e.A.link(href='#')
        if (newObject) 
            +e.banner.--new Скоро
        if (club)
            +e.banner.--club Клубная сделка
            +e.lock
        +e.image
            img(src='images/objects/object' + id + '.jpg')
        +e.title Супермаркет «Пятерочка»
        +e.address д. Мисайлово, ул. Луговая, 20
        +e.data
            +e.P.data-content
                +e.data-line Первоначальная стоимость: <b>62 964 000 &#8381;</b>
                +e.data-line Цена за кв. метр: <b>102 264,1 руб.</b>
                +e.data-line Первоначальная доходность: <b>13,2%</b>
                +e.data-line Окупаемость: <b>8 лет</b>
                +e.data-line Мин. инвестиции: <b>2 198 000 руб.</b>
            +e.P.data-content
                +e.data-line Фонд: <b>ЗПИФН «Активо Восемь»</b>
                +e.data-line Управляющая компания: <b>КСП Капитал</b>
                +e.data-line(class='has-image') Депозитарная компания:
                    img(src="/images/main/sdkgarant.svg", alt="")