.sell-topscreen {
    padding-top: 15px;
    padding-bottom: 50px;

    font-family: $segoe;
    color: $darktext;
}

.sell-topscreen__heading {
    margin: 0;
    margin-bottom: 40px;

    font-size: 48px;
    text-align: center;
}

.sell-topscreen__text {
    max-width: 1020px;
    margin: 0 auto;

    font-size: 24px;
    line-height: 1.33;
    text-align: center;
}

@media (max-width: 768px) {
    .sell-topscreen {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .sell-topscreen__heading {
        margin-bottom: 15px;

        font-size: 32px;
        line-height: 1.25;
    }

    .sell-topscreen__text {
        font-size: 16px;
        line-height: 1.5;
    }
}