mixin sell-topscreen()
    +b.SECTION.sell-topscreen
        +inner
            +e.H1.heading Лучший способ продать недвижимость
            +e.P.text
                | Мы предлагаем возможность владельцам высококачественной доходной недвижимости простой и надежный способ реализовать свой объект недвижимости стоимостью до 2 млрд. рублей за 90 дней с помощью механизмов краудфандинга недвижимости!