.account-nav {
    padding-top: 50px;
    margin-bottom: 16px;

    font-family: $segoe;
    color: $darktext;
}

.account-nav__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.account-nav__item {
    flex: 1 1 174px;
    max-width: 250px;
    margin-right: 1px;
    margin-bottom: 1px;

    text-align: center;

    background-color: #f5f7f9;

    transition: background-color 300ms ease,
    transform 300ms ease;
    transform-origin: bottom center;

    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;


    &:last-child {
        margin-right: 0;
    }

    &:hover,
    &:active,
    &:focus,
    &.active {
        background-color: $themecolor;
        transform: scaleY(1.19) translateZ(0);

        .account-nav__link {
            transform: scaleY(0.81) translateY(10%) translateZ(0);
        }
    }

    &.active {
        box-shadow: 0 0 30px rgba(60, 123, 216, 0.16);
    }
}

.account-nav__link {
    position: relative;
    display: inline-block;
    padding: 20px 0;
    padding-left: 27px;

    color: $darktext;
    font-size: 14px;
    text-align: center;

    text-decoration: none;

    transition: transform 300ms ease;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;


    &:hover,
    &:active,
    &:focus {
        color: $darktext;
        text-decoration: none;
    }

}

.account-nav__icon {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 50%;
    transform: translateY(-45%);

    img {
        position: absolute;
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 768px) {
    .account-nav {
        padding-top: 30px;
    }

    .account-nav__list {
        flex-wrap: nowrap;
    }

    .account-nav__item {
        flex: 1 1 14%;
    }

    .account-nav__link {
        font-size: 0;
    }

    .account-nav__icon {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}