mixin account-nav()
    +b.NAV.account-nav
        +inner
            +e.UL.list
                +e.LI.item
                    +e.A.link(href='/realty' title='Недвижимость') Недвижимость
                        +e.SPAN.icon.--property
                            img(src="/images/layout/property.svg", alt="")
                +e.LI.item.active
                    +e.A.link(href='/monitoring.html' title='Мониторинг') Мониторинг
                        +e.SPAN.icon.--monitoring
                            img(src="/images/layout/monitoring.svg", alt="")
                +e.LI.item
                    +e.A.link(href='/documents.html' title='Документы') Документы
                        +e.SPAN.icon.--documents
                            img(src="/images/layout/documents.svg", alt="")
                +e.LI.item
                    +e.A.link(href='/finances.html' title='Финансы') Финансы
                        +e.SPAN.icon.--finances
                            img(src="/images/layout/finances.svg", alt="")
                +e.LI.item
                    +e.A.link(href='/verification.html' title='Верификация') Верификация
                        +e.SPAN.icon.--questionary
                            img(src="/images/layout/questionary.svg", alt="")
                +e.LI.item
                    +e.A.link(href='/partners.html' title='Партнеры') Партнеры
                        +e.SPAN.icon.--questionary
                            img(src="/images/layout/partners.svg", alt="")
                +e.LI.item
                    +e.A.link(href='/settings.html' title='Настройки') Настройки
                        +e.SPAN.icon.--settings
                            img(src="/images/layout/settings.svg", alt="")
                +e.LI.item
                    +e.A.link(href='/feedback.html') Отзыв
                        +e.SPAN.icon.--feedback
                            img(src="/images/layout/feedback.svg", alt="")