mixin faq-nav()
    +b.faq-nav
        +e.UL.list
            +e.LI.item.active(data-for='answer1') Преимущества AKTIVO
            +e.LI.item(data-for='answer2') Доходность
            +e.LI.item(data-for='answer3') Покупка активов
            +e.LI.item(data-for='answer4') Налогообложение инвестора
            +e.LI.item(data-for='answer5') Безопасность
            +e.LI.item(data-for='answer6') Словарь терминов