.feedback-content {
    padding-bottom: 64px;

    font-family: $segoe;
    color: $darktext;
}

.feedback-content__block {
    padding: 40px 60px;

    box-shadow: 0 0 30px rgba(60, 123, 216, 0.1);
    background-color: #ffffff;
}

.feedback-content__title {
    margin-bottom: 20px;

    font-size: 16px;
    font-weight: 700;
}

.feedback-content__subtitle {
    margin-bottom: 50px;

    font-size: 16px;
    font-weight: 400;
}

.feedback-content__form {
    display: flex;
}

.feedback-content__form-col {
    width: 40%;
    flex: 1 1 auto;

    &:first-child {
        width: 30%;
        max-width: 385px;
        margin-right: 5%;
    }
}

.feedback-content__input {
    width: 100%;
    margin-bottom: 45px;
}

.feedback-content__textarea {
    margin-top: -13px;
    margin-bottom: 40px;   
}

.feedback-content__textarea-label {
    display: block; 
    margin-bottom: 12px;
    
    font-size: 12px;
    color: rgba($darktext, 0.4);
}

.feedback-content__textarea-input {
    width: 100%;
    height: 135px;
    padding: 10px;

    border: 1px solid #707070;
    
    font-size: 24px;
}


@media (max-width: 1024px) {
    .feedback-content {
        padding-bottom: 34px;
    }
}

@media (max-width: 768px) {
    .feedback-content__form {
        display: block;
    }

    .feedback-content__form-col {
        width: 100%;

        &:first-child {
            max-width: none;
            width: 100%;
            margin: 0 0 16px;
        }
    }

    .feedback-content__textarea {
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .feedback-content__block {
        padding: 25px 15px;
    }

    .feedback-content__title {
        margin-bottom: 15px;
    }

    .feedback-content__subtitle {
        margin-bottom: 45px;

        font-size: 14px;
    }

    .feedback-content__input {
        margin-bottom: 35px;
    }

    .feedback-content__textarea {
        margin-bottom: 25px;
    }

    .feedback-content__textarea-input {
        font-size: 18px;
    }
}