mixin object-planning()
    +b.SECTION.object-planning
        +e.images
            +e.image
                img(src='images/object/plan.jpg' alt='План объекта')
            +e.image
                img(src='images/object/plan.jpg' alt='План объекта')