.object-planning__images {
    width: 100%;
    display: flex;

    img {
        @include img;
    }

    &.slick-initialized {
        display: block;
    }

    .slick-arrow {
        position: absolute;
        z-index: 9;
        width: 48px;
        height: 48px;
        padding: 0;
        margin: 0;
        top: 50%;
        transform: translateY(-50%);

        border: none;
        outline: none;
        font-size: 0;
        background-color: transparent;
        background-image: url('../images/object/r-arrow.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .slick-next {
        right: 0;
    }

    .slick-prev {
        left: 0;
        transform: translateY(-50%) rotate(-180deg);
    }
}

@media (max-width: 1024px) {
    .object-planning {
        padding: 20px 0;
    }
}

@media (max-width: 380px) {
    .object-planning__images {
        .slick-arrow {
            width: 36px;
            height: 36px;
        }
    }
}