.subtitle {
    position: relative;
    display: block;

    font-family: $segoe;
    color: $lightgrey;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;  
    text-align: left;
    letter-spacing: 1.4px;

    &--center {
        text-align: center;
    }

    &--light {
        color: rgba($color: #fff, $alpha: 0.4)
    }
}


