.subtitle {
    position: relative;
    display: block;

    font-family: $segoe;
    color: $lightgrey;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;  
    text-align: left;
    letter-spacing: 1.4px
}


