mixin sell-structure()
    +b.SECTION.sell-structure
        +inner
            +e.heading
                +subtitle('center', 'light')
                    | Одна цель – множество источников
                +title('center', 'light')
                    | Структура капитала
            +e.image
                object(type="image/svg+xml" data="images/sell/structure.svg")
                //- img(src="images/sell/structure.svg")
            +e.UL.list
                +e.LI.item
                    +e.SPAN.item-icon
                    +e.SPAN.item-title Клубные инвесторы
                    +e.P.item-text Мы сформировали сообщество инвесторов близких к идее и команде AKTIVO и доверяющих нам выбор инвестиционных объектов.
                +e.LI.item
                    +e.SPAN.item-icon
                    +e.SPAN.item-title Институциональные партнеры
                    +e.P.item-text AKTIVO работает с крупными финансовыми организациями, пенсионными фондами и банками, которые также могут участвовать в покупке объекта.
                +e.LI.item
                    +e.SPAN.item-icon
                    +e.SPAN.item-title Краудфандинговые инвестиции
                    +e.P.item-text Мы сформировали сообщество инвесторов близких к идее и команде AKTIVO и доверяющих нам выбор инвестиционных объектов.
                +e.LI.item
                    +e.SPAN.item-icon
                    +e.SPAN.item-title Собственные средства AKTIVO
                    +e.P.item-text AKTIVO участвует в каждой сделке вкладывая до 20% стоимости и осуществляет коммерческое и эксплуатационное управление объектами.
            +e.appeal
                +e.P.appeal-text Продать объект недвижимости
                +e.BUTTON.appeal-button Оставить заявку