.services {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 10px;

    font-family: $opsans;
    color: $darktext;
    background-color: #f7f7f7;
}

.services__heading {
    margin-bottom: 30px;
}

.services__lists {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.services__column {
    width: 45%;
    flex: 0 1 auto;
}

.services__list-title {
    margin-bottom: 15px;

    color: #9f9f9f;
    font-size: 26px;
    font-weight: 700;
    
    span {
        display: inline;;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 125px;
            height: 2px;
            top: 50%;
            left: 110%;
            background-color: #d0d0d0;
        }
    }
}

.services__list {
    list-style: none;
    padding: 0;
}

.services__item {
    position: relative;
    padding-left: 26px;
    width: 100%;
    margin: 0 auto 30px;

    &:not(.hasInner)::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        left: 0;
        top: 13px;

        border-radius: 50%;
        box-shadow: 2px 0 7px 1px #dadada;
        background-color: #bababa;

        transition: background-color 300ms ease;
    }

    &.hasInner::before {
        content: '▲';
        position: absolute;
        left: 0;
        top: 8px;

        font-size: 16px;
        color: #636363;
        text-shadow: 2px 0 7px #dadada;
        
        transform: rotate(90deg);

        transition: color 300ms ease, transform 300ms ease;
    }

    &.active {
        color: $themecolor;

        &::before {
        transform: rotate(180deg);
        }
    }
}

.services__item:hover:not(.hasInner)::before {
    background-color: $themecolor;
}

.services__item:hover.hasInner::before {
    color: $themecolor;
}

.services__item.active::before {
    color: $themecolor;
}

.services__link {
    display: block;

    color: $darktext;
    text-decoration: none;
    
    transition: color 300ms ease;

    &:hover,
    &:active,
    &:focus {
        color: $themecolor;
        text-decoration: none;
    }

}

.services__label {
    display: block;

    font-size: 24px;
    font-weight: 700;
}

.services__price {
    display: block;
    font-size: 24px;
    font-weight: 300;
}

.services__inner-list {
    display: none;
    padding-left: 26px;
    margin-top: -10px;
    list-style: none;
}

.services__inner-item {
    margin-bottom: 5px;
}

.services__inner-label {
    font-size: 20px;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .services {
        padding-top: 45px;
        padding-bottom: 30px;
    }

    .services__list-title {
        font-size: 20px;

        span::after {
            width: 110px;
        }
    }

    .services__item {
        margin-bottom: 20px;

        &:not(.hasInner)::before {
            width: 7px;
            height: 7px;
            top: 10px;
        }

        &.hasInner::before {
            font-size: 14px;
            top: 6px;
        }
    }

    .services__label {
        font-size: 18px;
    }

    .services__price {
        font-size: 18px;
    }

    .services__inner-label {
        font-size: 16px;
    }

}

@media (max-width: 768px) {
    .services {
        padding-top: 35px;
        padding-bottom: 20px;
    }

    .services__list-title {
        font-size: 18px;

        span::after {
            width: 70px;
        }
    }

    .services__column {
        width: 48%;
    }

    .services__item {
        margin-bottom: 20px;

        &:not(.hasInner)::before {
            width: 7px;
            height: 7px;
            top: 10px;
        }
        &.hasInner::before {
            font-size: 14px;
            top: 6px;
        }
    }

    .services__label {
        font-size: 16px;
    }

    .services__price {
        font-size: 16px;
    }

    .services__inner-label {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .services {
        padding-top: 25px;
        padding-bottom: 20px;
    }

    .services__list-title {
        font-size: 18px;

        span::after {
            width: 85px;
        }
    }

    .services__lists {
        display: block;
        padding: 0 20px;
    }

    .services__column {
        width: 100%;
        margin-bottom: 10px;
    }

    .services__item {
        margin-bottom: 15px;
    }
}

@media (max-width: 360px) {
    .services__list-title {
        span::after {
            width: 35px;
        }
    }
}
