mixin authorization()
    +b.authorization
        if !loggedIn
            +e.A.login(href='#') Вход
        else
            +e.logged
                +e.BUTTON.toggle(title='admin@aktivo.ru') admin@aktivo.ru
                +e.UL.list
                    +e.LI.item
                        +e.A.link(href='/realty') Недвижимость
                            +e.SPAN.icon.--property
                                img(src="../images/layout/property.svg", alt="")
                    +e.LI.item
                        +e.A.link(href='/account/questionary') Верификация
                            +e.SPAN.icon.--questionary
                                img(src="../images/layout/questionary.svg", alt="")
                    +e.LI.item
                        +e.A.link(href='/account/monitoring') Мониторинг
                            +e.SPAN.icon.--monitoring
                                img(src="../images/layout/monitoring.svg", alt="")
                    +e.LI.item
                        +e.A.link(href='/account/documents') Документы
                            +e.SPAN.icon.--documents
                                img(src="../images/layout/documents.svg", alt="")
                    +e.LI.item
                        +e.A.link(href='/account/finances') Финансы
                            +e.SPAN.icon.--finances
                                img(src="../images/layout/finances.svg", alt="")
                    +e.LI.item
                        +e.A.link(href='/account/settings') Настройки
                            +e.SPAN.icon.--settings
                                img(src="../images/layout/settings.svg", alt="")
                    +e.LI.item
                        +e.A.link(href='/logout') Выход
                            +e.SPAN.icon
                                img(src="../images/layout/logout.svg", alt="")