mixin faq-answers()
    +b.faq-answers
        +e.answer
            +e.paragraph
                +e.title Что такое краудфандинг в недвижимость?
                +e.P.text
                    | Краудфандинг в недвижимость (крауд-инвестиции, коллективные инвестиции) - способ приобретения масштабных высокодоходных объектов недвижимости институционального качества для получения стабильного арендного дохода путем объединения средств нескольких инвесторов.<br> Краудфандинговые инвестиции хорошо зарекомендовали себя по всему миру, в настоящее время в Европе и развитых странах Азии насчитывается более 150 компаний, предлагающих real estate crowdfunding & crowdinvesting.
            +e.paragraph
                +e.title В чем преимущества инвестирования с AKTIVO?
                +e.P.text
                    | AKTIVO – компания краудфандинга коммерческой недвижимости №1 в России. Это уникальная возможность комфортно и безопасно инвестировать любую сумму от 300 000 рублей в тщательно отобранные объекты наилучшего качества. <br> AKTIVO позволяет разделить стоимость объекта между участниками, при этом размер инвестиций каждого участника зависит только от его выбора. <br> С другой стороны, AKTIVO – не только краудфандинговая площадка, но и профессиональная команда, которая выполняет наиболее сложные и хлопотные задачи за вас:
                +e.UL.list
                    +e.LI.item Отбор и тщательный всесторонний аудит объектов (доходность, коммерческие, юридические, технические и др. параметры)
                    +e.LI.item Поиск соинвесторов и безопасное сопровождение сделки
                    +e.LI.item Обслуживание и управление объектами после покупки (решение вопросов с арендаторами, коммунальными службами и государственным органами)
            +e.paragraph
                +e.title В чем отличие AKTIVO от банковских депозитов и других финансовых инструментов?
                +e.P.text
                    | Инвестиции в недвижимость с AKTIVO обладают рядом преимуществ перед другими финансовыми инструментами: это намного выгоднее, чем банковские вклады, средняя ставка по которым составляет в среднем 6% годовых, и безопаснее с учетом сложившейся ситуации в банковском секторе. По сравнению с паевыми фондами, инвестиции в недвижимость намного прозрачнее т.к. инвестор выбирает конкретное здание и может получить полную информацию о нем до совершения сделки. По сравнению с биржевыми инструментами вложения в недвижимость более безопасны и обеспечивают доходность на уровне 15-17% годовых с учетом роста стоимости самой недвижимости. При инвестировании в коммерческую недвижимость покупатель несет меньшие инфляционные и девальвационные риски (риск обесценения национальной валюты), поскольку стоимость недвижимости растет вместе с инфляцией и переоценивается с учетом текущей экономической ситуации. Инвестиции с AKTIVO – уникальный шанс защитить и сохранить реальную стоимость своих активов и получать регулярный доход, защищенный от инфляции.
        +e.answer
            +e.paragraph
                +e.title За счет чего формируется доход инвестора?
                +e.P.text
                    | Доход формируется за счет арендных потоков и прочих доходов от объекта недвижимости.
            +e.paragraph
                +e.title В какие сроки выплачивается доход на инвестиции?
                +e.P.text
                    | Регулярные ежемесячные выплаты производятся инвесторам уже на следующий месяц после приобретения объекта. При этом в личном кабинете инвестора формируется график получения доходов от объектов, находящихся в фондах.
            +e.paragraph
                +e.title На какой доход можно рассчитывать?
                +e.P.text
                    | Доходность варьируется в зависимости от объекта и ситуации на рынке. В профиле каждого объекта указывается прогнозная доходность. В среднем она составляет 15% - 17% годовых и состоит из ежемесячно выплачиваемой доходности от аренды из расчета 9-12% годовых и роста стоимости самого объекта недвижимости на 5-7% в год. <br> Доходность объектов обеспечивается тщательным отбором объектов инвестирования.
            +e.paragraph
                +e.title Какими налогами облагается доход с инвестиций с AKTIVO?
                +e.P.text
                    | Система получения дохода от инвестиций с AKTIVO абсолютно прозрачна. Налог на доходы инвесторов при погашении паев или получении промежуточного инвестиционного дохода составляет:
                +e.UL.list.--simple
                    +e.LI.item 13% — для физических лиц
                    +e.LI.item 20% — для юридических лиц
                    +e.LI.item 6% или 15% для лиц с упрощенной системой налогообложения
                    +e.LI.item 30% — для нерезидентов — физических лиц
                    +e.LI.item 20% — для нерезидентов — юридических лиц
                +e.P.text
                    | Для нерезидентов налоговая ставка определяется соглашением или конвенцией при условии, что лицо-нерезидент является резидентом страны, с которой заключено соглашение или конвенция об избежание двойного налогообложения. <br> Отложенная уплата налога на прибыль позволяет реинвестировать доход, полученный от сделок с имуществом фонда в полном объеме на срок до момента получения дохода пайщиком (погашения паев, выплаты промежуточного дохода).
            +e.paragraph
                +e.title Выплачивает ли AKTIVO проценты на средства инвесторов или сделанные инвестиции?
                +e.P.text
                    | AKTIVO не является банком и не оказывает услуг по размещению депозитов или инвестированию в ценные бумаги. Мы не начисляем процентов, мы даем возможность совместно владеть недвижимостью с высоким рейтингом надежности и получать доход от сдачи ее в аренду. AKTIVO выплачивает только рентный доход, соответствующий доле инвестора в объекте недвижимости.
            +e.paragraph
                +e.title Какое вознаграждение получает AKTIVO? 
                +e.P.text
                    | AKTIVO за сопровождение сделки составляет 2% от размера инвестиций. Комиссия взимается после покупки объекта недвижимости. Денежные средства идут на оплату услуг AKTIVO — подбор, проверку и оценку объекта недвижимости, обеспечение работы интернет — платформы и информационной поддержки пользователей.
                +e.P.text
                    | Ежемесячное вознаграждение AKTIVO составляет 12.5% от чистого операционного дохода от объекта, который определяется как валовый доход от аренды за вычетом операционных затрат по объекту:
                +e.UL.list
                    +e.LI.item Эксплуатационные расходы
                    +e.LI.item Проведение ремонтных работ
                    +e.LI.item Налог на имущество
                    +e.LI.item Земельный налог или аренда на земельный участок под объектом
                    +e.LI.item Страховка
                    +e.LI.item Охрана территории и объекта
                    +e.LI.item Уборка территории и объекта
                    +e.LI.item Обеспечение противопожарной безопасности
                    +e.LI.item Услуги управляющей компании фонда
                    +e.LI.item Другие необходимые расходы
        +e.answer
            +e.paragraph
                +e.title Кто может инвестировать с AKTIVO?
                +e.P.text
                    | С AKTIVO могут инвестировать как граждане РФ, так и нерезиденты. Также инвестиции могут осуществлять юридические лица любой страны. Налогообложение инвесторов зависит от резидентства.  
            +e.paragraph
                +e.title Как выглядитпроцесс покупки недвижимости на платформе AKTIVO?
                +e.P.text
                    | Процесс покупки недвижимости состоит из нескольких простых шагов:
                +e.P.text
                    | Зарегистрируйтесь и заполните анкету инвестора на сайте AKTIVO <br> Выберите объект недвижимости из каталога, определите сумму инвестирования.
                +e.P.text
                    | Необходимый пакет документов (договор инвестирования, анкета, доверенность управляющей компании) формируется автоматически на основании предоставленных данных и становится доступным в вашем личном кабинете на сайте AKTIVO.
                +e.P.text
                    | Назначьте встречу с Вашим личным инвестиционным консультантом для подписания договора в удобное для вас время. <br> Перечислите денежные средства на специальный расчетный счет AKTIVO <br> Как только сделка будет закрыта, Вы получите официальное уведомление о передаче доли в выбранном объекте.
            +e.paragraph
                +e.title Что случится, если AKTIVO не соберет нужное количество средств для покупки объекта?
                +e.P.text
                    | Если в течение срока формирования фонда необходимая для приобретения объекта сумма не будет собрана, деньги будут возвращены инвесторам в полном объеме.
            +e.paragraph
                +e.title Как структурированы инвестиции?
                +e.P.text
                    | Управляющая компания (УК) создает Закрытый паевой инвестиционный фонд (далее фонд или ЗПИФ) для приобретения конкретного объекта недвижимости. Форма ЗПИФ является наиболее защищенной и безопасной для коллективного инвестирования <br> Собственник объекта формирует ЗПИФ недвижимостью <br> Управляющая компания выпускает ценные бумаги (паи), которые удостоверяют право на долю в имуществе фонда (в данном случае, конкретный объект недвижимости и доход от него) и передает 100% паев продавцу <br> Право собственности переходит пайщикам ЗПИФ <br> AKTIVO заключает с инвестором договор купли-продажи выпускаемых паев. Согласно договору, инвестор перечисляет денежные средства на специальный счет AKTIVO <br> AKTIVO формирует необходимую сумму для покупки на специальном счете и покупает паи фонда у собственника объекта <br> Средства, полученные для покупки паев, переводятся собственнику объекта. Согласно договору купли-продажи средства могут быть использованы исключительно для покупки конкретного выбранного вами объекта недвижимости <br> AKTIVO передает данные ценные бумаги каждому из соинвесторов объекта. С данного момента каждый инвестор становится совладельцем имущества фонда и получает право на арендный доход
            +e.paragraph
                +e.title Какие функции выполняет Управляющая компания?
                +e.P.text
                    | Кроме формирования ЗПИФ под каждый объект недвижимости, в функции УК входит: получение денежных средств в оплату паев и выдача паев, осуществление выплат инвесторам, осуществление внутреннего контроля деятельности, в том числе разработка правил доверительного управления фондом, совершает операции с активами фонда и иные операции.
            +e.paragraph
                +e.title Как я могу продать свою долю недвижимости?
                +e.P.text
                    | У инвесторов существует возможность продать свою долю в недвижимости двумя способами:
                +e.UL.list.--simple
                    +e.LI.item в частном порядке любому лицу
                    +e.LI.item через торговую площадку AKTIVO другим инвесторам
            +e.paragraph
                +e.title Как происходит проверка и отбор объектов?
                +e.P.text
                    | Каждый объект недвижимости, размещенный на торговой площадке, проходит тщательную проверку при участии юридических, аудиторских и финансовых консультантов.
            +e.paragraph
                +e.title Кто и как осуществляет управление объектами после покупки?
                +e.P.text
                    | После совершения покупки AKTIVO выполняет функцию обслуживания и управления объектами с целью максимизации арендных доходов и оптимизации затрат. При этом инвесторы получают ежемесячный финансовый и операционный отчет. В функцию управления объектами входят:
                +e.UL.list.--simple
                    +e.LI.item Работа с арендаторами (поиск, переговоры, заключение договоров, контроль своевременности оплаты)
                    +e.LI.item Эксплуатация объектов (работа с коммунальными службами, организация ремонта и обслуживания зданий)
                    +e.LI.item Осуществление взаимодействия с прочими контрагентами
            +e.paragraph
                +e.title Может ли объект потребовать дополнительных вложений?
                +e.P.text
                    | Нет. В форс-мажорных обстоятельствах или в случае простоя объекта могут быть снижены или остановлены выплаты, но AKTIVO гарантирует, что даже это не повлечет за собой дополнительные расходы для инвесторов. Все затраты, связанные с объектом на период отсутствия арендных потоков, компания возмещает за счет собственных средств. Объект может потребовать отдельных вложений, если затраты не компенсируются страховой компанией или арендатором. Владельцы паев несут такие же риски как и обычные собственники недвижимости.
        +e.answer
            +e.paragraph
                +e.title Какими налогами будет облагаться ежемесячный доход, получаемый инвестором - физическом лицом?
                +e.P.text
                    | Управляющая компания Фонда обязана удерживать и перечислять в бюджет РФ НДФЛ в качестве налогового агента. Удержание производится по ставке 13% для налоговых резидентов и по ставке 30% для лиц, не являющихся налоговыми резидентами.
            +e.paragraph
                +e.title Какими налогами будет облагаться ежемесячный доход, получаемый инвестором - физическом лицом, зарегистрированным в качестве ИП?
                +e.P.text
                    | Несмотря на то, что физическое лицо зарегистрировано в качестве ИП, доход по операциям с паями регулируется отдельными положениями НК, согласно которым Управляющая компания Фонда будет обязана удерживать НДФЛ в качестве налогового агента (13% для налоговых резидентов, 30% для налоговых нерезидентов), вне зависимости от системы налогообложения, применяемой ИП (ОСН или УСН).
            +e.paragraph
                +e.title Какими налогами будет облагаться ежемесячный доход, получаемый инвестором - российским юридическим лицом (на ОСН или УСН)?
                +e.P.text
                    | Российское юридическое лицо, применяющее ОСН, будет обязано включить в налогооблагаемую базу получаемый ежемесячный доход и заплатить с него налог на прибыль по ставке 20%. Российское юридическое лицо, применяющее УСН по методу 15% с доходов, уменьшенных на расходы, также обязано будет включить в свою налогооблагаемую базу получаемый ежемесячный доход. Обращаем внимание, что в соответствии со ст. 346.14 НК организации, являющиеся участником договора доверительного управления, не могут применять УСН по методу 6% с доходов (в обратном случае они будут обязаны перейти на ОСН).
            +e.paragraph
                +e.title Какими налогами будет облагаться ежемесячный доход, получаемый инвестором - иностранным юридическим лицом, не осуществляющим в РФ деятельность через постоянное представительство?
                +e.P.text
                    | С данного дохода Управляющая компания Фонда обязана удержать налог на прибыль в качестве налогового агента по ставке 15% (при наличии соглашения об избежании двойного налогообложения между РФ и юрисдикцией, в которой зарегистрирована иностранная компания, налоговая ставка может быть снижена).
            +e.paragraph
                +e.title Какие налоги инвестор будет обязан уплатить в случае выхода из проекта и продажи паев?
                +e.P.text
                    | При выходе из проекта и продаже паев инвестор будет обязан уплатить НДФЛ (для физических лиц) или налог на прибыль (для российских юридических лиц) с положительного финансового результата (прибыли), полученного от продажи паев.
            +e.paragraph
                +e.title При каких условиях физическое лицо является или не является налоговым резидентом РФ?
                +e.P.text
                    | Налоговое резидентство физических лиц установлено статьей 207 НК РФ. Согласно ему, физическое лицо признается резидентом РФ при нахождении на территории РФ не менее 183 календарных дней в течение 12 месяцев. Если физическое лицо является налоговым резидентом РФ, то общая ставка НДФЛ для него составляет 13%, когда для нерезидентов общая ставка НДФЛ составляет 30%.
            +e.paragraph
                +e.title В чем заключаются различия в системах налогообложения в ОСН и УСН?
                +e.P.text
                    | Общая система налогообложения (ОСН), предполагает уплату налогоплательщиком НДС, налога на прибыль организаций (для юридических лиц) и НДФЛ (для физических лиц, зарегистрированных в качестве ИП) а также налога на имущество. При выполнении определенных условий, физические лица, зарегистрированные в качестве ИП, и юридические лица могут применять упрощенную систему налогообложения (УСН). При применении УСН налогоплательщики получают освобождение от НДС, налога на прибыль (для юридических лиц), НДФЛ в части предпринимательской деятельности (для ИП), налога на имущество (за исключением налога в отношении имущества, налоговая база по которому определяется как кадастровая стоимость), вместо которых уплачивают единый налог по УСН либо по ставке 6% с доходов, либо по ставке 15% с доходов, уменьшенных на расходы. Обращаем внимание, что ПИФ не имеет право применять УСН.
            +e.paragraph
                +e.title Кто является плательщиком налога на имущество и земельного налога?
                +e.P.text
                    | В соответствии со статьями 378 и 388 НК РФ имущество, составляющее паевой инвестиционный фонд, подлежит налогообложению налогом на имущество и земельным налогом у Управляющей компанией фонда. При этом налог на имущество и земельный налог уплачивается за счет средств паевого инвестиционного фонда.
        +e.answer
            +e.paragraph
                +e.title В чем состоит преимущество инвестирования через ЗПИФ?
                +e.P.text
                    | Гибкость и удобство инвестирования:
                +e.UL.list.--simple
                    +e.LI.item инвестиционные паи могут обращаться на фондовых биржах и на внебиржевом рынке;
                    +e.LI.item возможность выйти из проекта путем продажи паев;
                    +e.LI.item возможность перераспределения собственности через продажу паев;
                    +e.LI.item возможность получения кредита под залог инвестиционных паев.
                +e.P.text Защита собственности:
                +e.UL.list.--simple
                    +e.LI.item обращение взыскания по долгам владельцев паев фонда распространяется только на принадлежащие им инвестиционные паи;
                    +e.LI.item фонд не отвечает по долгам управляющей компании и владельцев паев;
                    +e.LI.item ограничивается доступ к информации о собственниках активов фонда.
                +e.P.text Высокий уровень контроля за инвестициями:
                +e.UL.list.--simple
                    +e.LI.item жесткий контроль со стороны контролирующих и регулирующих органов;
                    +e.LI.item контроль за распоряжением имуществом фонда со стороны специализированного депозитария;
                    +e.LI.item обязательное раскрытие информации;
                    +e.LI.item установленная законодательством четкая периодичность проведения независимого аудита фонда и оценки активов фонда.
            +e.paragraph
                +e.title Как обеспечивается безопасность денежных средств во время сделки?
                +e.P.text
                    | Для операций со средствами инвесторов разработана безопасная система, которая состоит из нескольких частей:
                +e.UL.list.--simple
                    +e.LI.item Переданные средства хранятся на специальном банковском счете AKTIVO и могут быть перечислены только в счет приобретения инвестиционных паев. В случае, если необходимая сумма не собрана, все деньги возвращаются инвесторам без комиссий;
                    +e.LI.item Доходы инвестора ежемесячно автоматически выплачиваются независимой управляющей компанией;
                    +e.LI.item Для совершения операций по продаже паев, изменения данных счета, персональных данных используется система верификации;
                    +e.LI.item Для совершения операций по продаже паев, изменения данных счета, персональных данных используется система верификации по SMS;
                    +e.LI.item Имущество паевого фонда не может быть взыскано даже в судебном порядке
            +e.paragraph
                +e.title
                +e.P.text
                    | Центральный банк Российской Федерации (Банк России) постоянно контролирует работу управляющей компании, специализированного депозитария и регистратора фонда <br> Имущество фонда учитывается управляющей компанией на отдельном балансе <br> Специализированный депозитарий не вправе давать управляющей компании свое согласие на совершение сделки и распоряжение имуществом фонда, если при этом будут нарушены нормы законодательства или Правила фонда <br> Фонд не отвечает своим имуществом по обязательствам и долгам управляющей компании <br> По долгам пайщиков фонда взыскание обращается на принадлежащие им паи и не распространяется на имущество, принадлежащее фонду.
            +e.paragraph
                +e.title Что произойдет, если AKTIVO попадет в трудное финансовое положение или прекратит свое существование?
                +e.P.text
                    | Вложения инвесторов обособлены от обязательств AKTIVO и управляющей компании. Они структурированы в отдельный ЗПИФ. Один объект – один фонд. Независимая управляющая компания обеспечивает безопасность паевых фондов и финансовых операций. Если AKTIVO или управляющая компания попадут в сложное финансовое положение, это не повлияет на имущество фонда, управление в таком случае перейдет к другой управляющей компании, без финансовых потерь.
        +e.answer
            +e.paragraph
                +e.P.text
                    | <b>Инвестор</b> — юридическое или физическое лицо, вкладывающее собственные, заемные или привлеченные иным способом средства в инвестиционные объекты c целью получения дополнительного дохода.
            +e.paragraph
                +e.P.text
                    | <b>Инвестиционный объект</b> — любой объект предпринимательской деятельности, на который направлены инвестиции. В случае AKTIVO – объекты недвижимости, размещенные на площадке.
            +e.paragraph
                +e.P.text
                    | <b>Инвестиционный комитет</b> — коллегиальный орган, состоящий из профессионалов инвестиционной деятельности, который отбирает объекты для инвестиций и утверждает инвестиционную стратегию.
            +e.paragraph
                +e.P.text
                    | <b>Инвестиционный риск</b> — вероятность частичной или полной потери вложенных средств, которая может быть вызвана различными причинами, в том числе и форс-мажорного характера.
            +e.paragraph
                +e.P.text
                    | <b>Комиссия за управление объектом</b> — денежные средства, выплачиваемые управляющей компании, за комплекс действий, направленных на эффективное функционирование объекта инвестиций клиента.
            +e.paragraph
                +e.P.text
                    | <b>Комиссия за транзакцию</b> — разовая выплата, взимаемая за организацию процесса структурирования объекта недвижимости.
            +e.paragraph
                +e.P.text
                    | <b>Эксплуатирующая компания фонда</b> — ООО «Активо-Инвест» - компания, которая управляет арендными отношениями и эксплуатацией объекта, в целях получения прибыли и в интересах инвесторов.
            +e.paragraph
                +e.P.text
                    | <b>Управляющая компания объекта</b> — ООО «Активо» - компания, которая управляет арендными отношениями и эксплуатацией объекта, в целях получения прибыли и в интересах инвесторов.
            +e.paragraph
                +e.P.text
                    | <b>Доверительное управление</b> — услуга по управлению вложенными средствами на основании правил закрытого паевого инвестиционного фонда и договора с управляющей компанией, направленная на реализацию поручений клиента, связанных с инвестированием в конкретный объект недвижимости.
            +e.paragraph
                +e.P.text
                    | <b>Налог на доходы физических лиц (НДФЛ)</b> — основной вид прямых налогов, исчисляемый в процентах от совокупного дохода физических лиц за вычетом документально подтвержденных расходов, в соответствии с действующим законодательством.
            +e.paragraph
                +e.P.text
                    | <b>Инвестиционный меморандум</b> — документ, содержащий структурированную информацию для предоставления потенциальным инвесторам.
            +e.paragraph
                +e.P.text
                    | <b>Отчет эксплуатирующей компании объекта</b> — ежемесячный отчет о произведенных затратах и полученных операционных доходах.
            +e.paragraph
                +e.P.text
                    | <b>Отчет управляющей компании фонда</b> — ежеквартальный отчет о доходах и стоимости имущества фонда.
            +e.paragraph
                +e.P.text
                    | <b>Закрытый паевой инвестиционный фонд (ЗПИФ)</b> — обособленный имущественный комплекс без образования юридического лица. Имущество ЗПИФ принадлежит владельцам инвестиционных паев на праве общей долевой собственности. Юридической основой функционирования ЗПИФ является договор доверительного управления (Правила фонда), в соответствии с которым учредитель управления передает имущество в фонд, а управляющая компания осуществляет управление активами ЗПИФ.
            +e.paragraph
                +e.P.text
                    | <b>Рентный Закрытый паевой инвестиционный фонд</b> — это фонд, ориентированный на получение дохода от сдачи недвижимости в аренду. Такой фонд, как правило, не предполагает реинвестирования, а полученный доход выплачивает пайщикам в виде промежуточных выплат.
            +e.paragraph
                +e.P.text
                    | <b>Имущество фонда</b> — в доверительное управление ЗПИФ учредители управления могут передавать денежные средства, а также иное имущество, предусмотренное инвестиционной декларацией фонда и действующим законодательством.
            +e.paragraph
                +e.P.text
                    | <b>Правила доверительного управления (ПДУ)</b> — это основной документ фонда, содержащий условия договора доверительного управления фондом; в нем определяются права и обязанности управляющей компании и пайщиков, процедура приобретения и выкупа паев, порядок формирования фонда. Правила доверительного управления фондом разрабатываются управляющей компанией на основе Типовых правил, утвержденных Правительством РФ.
            +e.paragraph
                +e.P.text
                    | <b>Инвестиционный пай</b> — это ценная бумага, удостоверяющая права ее владельца на долю имущества составляющего ЗПИФ. Учет прав на инвестиционные паи осуществляется специализированным регистратором на лицевых счетах в реестре владельцев инвестиционных паев.
            +e.paragraph
                +e.P.text
                    | <b>Стоимость пая</b> — величина, определяемая путем деления стоимости чистых активов фонда на количество размещенных инвестиционных паев
            +e.paragraph
                +e.P.text
                    | <b>Стоимость чистых активов (СЧА)</b> — это разница между активами и пассивами фонда. Активы фонда — это имущество (ценные бумаги, депозиты, денежные средства, пр.) и дебиторская задолженность, а пассивы — кредиторская задолженность и резервы предстоящих расходов и платежей.
            +e.paragraph
                +e.P.text
                    | <b>Правила управления ЗПИФ</b> — правила, регламентирующие инвестиционную политику, управление средствами, права и обязанности инвесторов и управляющей компании фонда.
            +e.paragraph
                +e.P.text
                    | <b>Транзитный счет ЗПИФ</b> — счет, на котором формируется фонд для покупки объекта.
            +e.paragraph
                +e.P.text
                    | <b>Капитализация объекта</b> — процесс, определяющий взаимосвязь будущего дохода и текущей стоимости объекта.
            +e.paragraph
                +e.P.text
                    | <b>Валовый арендный доход</b> — суммарный годовой доход предприятия, исчисленный в денежном выражении, полученный в результате аренды объекта собственности.
            +e.paragraph
                +e.P.text
                    | <b>Эксплуатационные расходы</b> — затраты, связанные с функционированием объекта аренды. Состав затрат определяется в индивидуальном порядке к каждому объекту аренды.
            +e.paragraph
                +e.P.text
                    | <b>Чистый операционный доход</b> — разница между валовыми доходами от объекта и валовыми расходами по объекту.
            +e.paragraph
                +e.P.text
                    | <b>Фондирование объекта</b> — Процесс сбора средств для приобретения объекта недвижимости.
            +e.paragraph
                +e.P.text
                    | <b>Due Dilingence (DD, Дью дилидженс, ДД)</b> — всесторонняя проверка законности и коммерческой привлекательности планируемой сделки или инвестиционного проекта.
            +e.paragraph
                +e.P.text
                    | <b>Он-лайн платформа</b> — сервис в сети Интернет для донесения информации и определенных возможностей до пользователя.
            +e.paragraph
                +e.P.text
                    | <b>Ликвидность</b> — способность активов быть быстро проданными по цене близкой к рыночной.
            +e.paragraph
                +e.P.text
                    | <b>Период фондирования</b> — отрезок времени между началом и окончанием сбора финансовых средств под приобретение объекта недвижимости.
            +e.paragraph
                +e.P.text
                    | <b>Рентабельность инвестиций</b> — использование средств, при котором осуществляется не только покрытие затрат доходами, но также получение прибыли.
            +e.paragraph
                +e.P.text
                    | <b>Стоимость объекта</b> — наиболее вероятная цена, которую можно получить при продаже конкретного объекта.
            +e.paragraph
                +e.P.text
                    | <b>Рентный доход</b> — доход от сдачи в аренду объекта собственности за вычетом расходов на его содержание.
            +e.paragraph
                +e.P.text
                    | <b>Коммерческая недвижимость</b> — здания, сооружения или земельные участки, используемые для коммерческой деятельности с последующим извлечением постоянной прибыли или прироста капитала от аренды или перепродажи.