mixin howitworks-triggers()
    +b.SECTION.howitworks-triggers
        +inner
            +e.H1.heading Как это работает
            +e.UL.list
                +e.LI.item
                    +e.item-image
                        include ../../../app/images/howitworks/trigger1.svg
                    +e.item-legend Покупка без посредников
                +e.LI.item
                    +e.item-image.--reverse
                        include ../../../app/images/howitworks/trigger2.svg
                    +e.item-legend Аудит за наш счет
                +e.LI.item
                    +e.item-image
                        include ../../../app/images/howitworks/trigger3.svg
                    +e.item-legend Меньше затрат – выше доходность
            +e.P.text
                | С нами вы покупаете недвижимость напрямую у владельцев, опираясь на результаты проведенного за наш счет аудита. Тем самым AKTIVO сокращает ваши затраты на покупку недвижимости по сравнению с вариантом самостоятельного приобретения и обеспечивает более высокую надежность и доходность.