mixin advantages()
    +b.SECTION.advantages
        +inner
            +e.wrapper
                +e.heading
                    +subtitle Максимальная защита
                    +title Инвестировать с Активо безопасно
                +e.UL.list
                    +e.LI.item Полная независимость инвестиций
                    +e.LI.item Страхование рисков физического ущерба
                    +e.LI.item Гарантированные права долевой собственности
                    +e.LI.item Соинвестиции с признанными экспертами
                    +e.LI.item Объекты с высоким рейтингом качества
                +e.BUTTON.button Позвоните мне