.advantages {
    position: relative;
    padding: 75px 0 145px;

    font-family: $segoe;
    color: $darktext;

    &::before {
        content: '';
        position: absolute;
        width: 40%;
        max-width: 332px;
        height: 100%;
        left: 130px;
        top: 140px;

        background-image: url('../images/main/shield.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.advantages__wrapper {
    position: relative;
    padding: 0 36px;
    @include left-margin;
    max-width: 600px;  
}

.advantages__heading {
    margin-bottom: 65px;
}

.advantages__list {
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    list-style: none;
}

.advantages__item {
    position: relative;
    margin-bottom: 35px;

    font-size: 16px;

    &:last-child {
        margin-bottom: 0;
    }
    
    &::before {
        content: '';
        position: absolute;
        width: 13px;
        height: 13px;
        bottom: 2px;
        left: -29px;

        background-image: url('../images/layout/checked.svg');
        background-size: cover;
    }
}

.advantages__button {
    @include btn-theme;
    width: 227px;
    padding: 16px;
    

    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .advantages {
        padding-top: 15px;
        padding-bottom: 75px;

        &::before {
            width: 25%;
            top: 50px;
            left: 100px;
        }
    }

    .advantages__wrapper {
        margin-left: 320px;
    }
}

@media (max-width: 768px) {
    .advantages {
        padding-bottom: 45px;

        &::before {
            width: 78px;
            left: -39px;
            top: 28px;

            background-image: url('../images/main/shield_m.svg');
        }

    }

    .advantages__heading {
        max-width: 360px;
        margin-bottom: 45px;
    }

    .advantages__wrapper {
        margin-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 480px) {
    .advantages {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .advantages__wrapper {
        margin-left: 0;
        padding-right: 0;
    }

    .advantages__heading {
        margin-bottom: 30px;
    }

    .advantages__list {
        padding-right: 10px;
        margin-bottom: 35px;
    }

    .advantages__item {
        margin-bottom: 25px;
    }

    .advantages__button {
        width: 264px;
    }
}