mixin invest-steps()
    +b.SECTION.invest-steps
        +inner
            +e.wrapper
                +e.heading
                    +subtitle Четыре простых шага
                    +title Инвестировать с Активо удобно и просто
                +e.UL.list
                    +e.LI.item
                        +e.image
                            include ../../../app/images/main/invest-step1.svg
                        +e.SPAN.title Выберите объект
                        +e.P.text Получите полную и достоверную информацию о каждом предлагаемом объекте инвестиций.
                    +e.LI.item
                        +e.image
                            include ../../../app/images/main/invest-step2.svg
                        +e.SPAN.title Сделайте покупку
                        +e.P.text Определите комфортную сумму, сделайте инвестицию и станьте совладельцем объекта недвижимости.
                    +e.LI.item
                        +e.image
                            include ../../../app/images/main/invest-step3.svg
                        +e.SPAN.title Получайте доход
                        +e.P.text Пассивный доход от аренды уже со следующего месяца. Отслеживайте состояние ваших активов и дохода онлайн.
                    +e.LI.item
                        +e.image
                            include ../../../app/images/main/invest-step4.svg
                        +e.SPAN.title Продажа доли
                        +e.P.text Оставьте заявку, и персональный менеджер обеспечит продажу вашей доли другим инвесторам быстро и просто.