.appeal {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;

    font-family: $opsans;

    background-image: url('../images/appeal-bg.jpg');
    background-size: cover;
}

.appeal__heading {
    margin-bottom: 30px;

    color: $lighttext;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.appeal__row {
    position: relative;
    max-width: 320px;
    margin: 0 auto;

    &::after {
        display: table;
        content: '';
        clear: both;
    }
}

.appeal__button {
    $themecolor: #0087d4;
    @include btn-theme($themecolor);
    max-width: 250px;
    margin: 0 auto;
    padding: 9px 20px 8px;
    margin-bottom: 15px;

    font-size: 12px;
    
    &--light {        
        @include btn-light();
    }
}

@media #{$tablet} {
    .appeal {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .appeal__heading {
        margin-bottom: 60px;

        br {
            display: none;
        }
    }

    .appeal__row {
        max-width: none;
        width: 620px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .appeal__button {
        width: 235px;
        padding: 16px 20px 14px;
        border-radius: 50px;
        
        font-size: 16px;
        text-align: center;
    }
}

@media #{$desktop} {
    .appeal {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .appeal__heading {
        margin-bottom: 70px;
    }

    .appeal__row {
        width: 735px;
    }

    .appeal__button {
        width: 300px;
        padding: 15px 20px 14px;

        font-size: 18px;
    }
}