mixin appeal(id)
    +b.SECTION.appeal(id='#{id}')
        +inner
            +e.heading
                +title('light')
                    | Остались вопросы? <br>Задайте их лично адвокату!
            +e.row
                +e.A.button(href='#modal2' data-toggle="modal" data-target="#modal2")
                    | Задать вопрос
                +e.A.button.--light(href='#modal3' data-toggle="modal" data-target="#modal3")
                    | Заказать звонок

       