mixin security-slider()
    +b.SECTION.security-slider
        +e.H2.heading Почему с нами безопасно
        +e.slider
            +e.slide
                +e.content
                    +e.slide-icon
                        img(src="../images/security/portfile.svg", alt="")
                    +e.slide-title Независимость инвестиций 
                    +e.P.slide-text
                        | Объекты недвижимости, в которых вы являетесь соинвестором, управляются независимой специализированной компанией и структурированы каждый в отдельности с помощью закрытых рентных паевых инвестиционных фондов. Один объект — один фонд. Независимая управляющая компания и специализированный депозитарий обеспечивает безопасность владения недвижимостью. Все объекты обособлены друг от друга и обязательств как AKTIVO, так и управляющей компании.
            +e.slide
                +e.content
                    +e.slide-icon
                        img(src="../images/security/safety.svg", alt="")
                    +e.slide-title Страхование
                    +e.P.slide-text
                        | AKTIVO обеспечивает страхование объектов от физического и иного ущерба. Партнерами страховых программ AKTIVO выступает «Альфа-страхование»,  «Ингосстрах», «Сбербанк Страхование» и другие крупнейшие страховые компании России. Если недвижимость пострадает, вы получите компенсацию равную сумме ваших инвестиций.
            +e.slide
                +e.content
                    +e.slide-icon
                        img(src="../images/security/guaranty.svg", alt="")
                    +e.slide-title Гарантированные права
                    +e.P.slide-text
                        | Отдельный Закрытый рентный паевой инвестиционный фонд для каждого объекта позволяет точно идентифицировать долю инвестора в объекте недвижимости аналогично прямому владению. <br> Государственное лицензирование и регулирование деятельности фондов, а также устойчивая структура позволяет максимально безопасно структурировать инвестиции и производить законное распределение арендного дохода любому количеству инвесторов на регулярной основе.</p>
            +e.slide
                +e.content
                    +e.slide-icon
                        img(src="../images/security/control.svg", alt="")
                    +e.slide-title Полный контроль
                    +e.P.slide-text
                        | Мы обеспечили максимальный контроль данных о каждом объекте для инвестиций. Изучайте объект, прежде чем принять решение, и анализируйте данные о вашей прибыли, а также расходах, налогах, валовом доходе и капитализации сделанных инвестиций. <br> Отчёты юристов, оценщиков и техников мы раскрываем в режиме реального времени. Отчёт управляющей компании и переоценка производятся каждые 6 месяцев.
            +e.slide
                +e.content
                    +e.slide-icon
                        img(src="../images/security/rating.svg", alt="")
                    +e.slide-title Высокий рейтинг объектов
                    +e.P.slide-text
                        | AKTIVO принимает решение о выборе того или иного объекта недвижимости основываясь на множестве критериев, а также экспертизы признанных экспертов и успешных игроков рынка недвижимости, инвестиций и страхования.
            +e.slide
                +e.content
                    +e.slide-icon
                        img(src="../images/security/risks.svg", alt="")
                    +e.slide-title Низкие риски
                    +e.P.slide-text
                        | Вкладывая средства в недвижимость с помощью AKTIVO, вы рискуете меньше, чем индивидуальные инвесторы, но все же разделяете риски владения имуществом. <br> AKTIVO не может гарантировать абсолютную защиту от риска потери доходности или падения стоимости. Мы рекомендуем вам инвестировать в разные объекты недвижимости, представленные на AKTIVO, чтобы диверсифицировать портфель и не нести риски, связанные с фокусированием на конкретном объекте.
        +e.appeal
            +e.P.appeal-text Персональный финансовый советник ответит на ваши вопросы
            +e.BUTTON.appeal-button Позвоните мне