@import "includes/fonts.scss";
@import "variables.scss";
@import "includes/normalize.scss";
@import "sprite.scss";
@import "../blocks/**/*";

html,
body {
    height: 100%;
}

.grecaptcha-badge {
    display: none;
}

.lazyload {
    position: relative;
    transition: opacity 300ms ease;
    opacity: 0;
}

.lazyload.loaded {
    opacity: 1;
}

.mobile-only {
    display: none;
}

@media (max-width: 768px) {
    .mobile-only {
        display: block
    }

    .desktop-only {
        display: none;
    }
}