.object-content {
    padding-bottom: 250px;

    font-family: $segoe;
    color: $darktext;
}

.object-content__wrapper {
    padding-top: 40px;
    width: 100%;
    overflow: hidden;
}

.object-content__label {
    margin-top: 40px;
    position: absolute;
    height: 64px;
    padding: 0 5px 0 20px;
    width: 292px;

    color: $darktext;
    font-size: 24px;
    line-height: normal;
    line-height: 64px;
    text-decoration: none;

    cursor: pointer;

    transition: background-color 300ms ease;

    &::before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        top: 0;
        right: -20px;
        opacity: 0;

        border-top: 32px solid transparent;
        border-bottom: 32px solid transparent;
        border-left: 20px solid $themecolor;

        transition: opacity 300ms ease;
    }

    span {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -5px;
            left: 0;

            background-color: $themecolor;

            transition: width 300ms ease;
        }
    }
    

    &.active {
        background-color: $themecolor;

        box-shadow: 0 3px 30px 0 rgba(25, 53, 117, 0.1);

        &::before {
            opacity: 1;
        }
    }

    &:hover,
    &:focus {
        color: $darktext;
        text-decoration: none;

        outline: none;

        span {
            &::after {
                width: 100%;
            }
        }
    }
}

.object-content__calculate {
    position: absolute;
    width: 292px;
    padding-top: 55px;
    display: flex;
    align-items: center;

    text-decoration: none;

    &.fixed {
        position: fixed;
        top: 0px !important;
    }

    .icon {
        width: 108px;
        height: 106px;

        background-image: url('../images/object/calc-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    span {
        max-width: 100px;
        font-size: 16px;
        color: #3c7bd8;
        
        transition: color 300ms ease;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;

        span {
            color: darken($color: #3c7bd8, $amount: 20%);
        }

    }
}

.object-content__block {
    position: relative;
    left: 415px;
    width: calc(100% - 415px);
    margin-bottom: 50px;

    background-color: white;
    max-height: none;
    // overflow: hidden;
    // transition: max-height 0.5s ease-out;

    // &.active {
    //     max-height: none;
    // }

    &:first-child {
        margin-top: -40px;
    }
}

.object-content__heading {
    margin: 0;
    margin-bottom: 5px;

    font-size: 48px;
}

.object-content__title {
    margin: 0;
    margin-bottom: 25px;

    font-size: 24px;
    font-weight: 700;
}

.object-content__address {
    margin: 0;
    margin-bottom: 35px;

    font-size: 32px;
}

.object-content__slider {
    width: 100%;
    display: flex;
    overflow: hidden;

    &.slick-initialized {
        display: block;
    }

    .slick-arrow {
        position: absolute;
        z-index: 9;
        width: 48px;
        height: 48px;
        padding: 0;
        margin: 0;
        top: 50%;
        transform: translateY(-50%);

        border: none;
        outline: none;
        font-size: 0;
        background-color: transparent;
        background-image: url('../images/object/r-arrow.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .slick-next {
        right: 0;
    }

    .slick-prev {
        left: 0;
        transform: translateY(-50%) rotate(-180deg);
    }
}

.object-content__item {
    position: relative;
}

.object-content__item-inner {
    position: relative;
    width: 100%;
    padding-top: 58%;

    background-color: green;

    img {
        @include img;
        position: absolute;
        display: block;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.object-content__spec {
    margin-top: 25px;
    margin-bottom: 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.object-content__spec-col {
    position: relative;
    width: 25%;
    flex: 1 1 25%;

    &::after {
        content: '';
        position: absolute;
        right: 15px;
        top: 0;
        height: 100%;
        width: 2px;

        background-color: #9b9b9b;
    }

    &:last-child::after {
        display: none;
    }
}

.object-content__spec-title {
    margin-bottom: 5px;

    font-size: 14px;
}

.object-content__spec-data {
    font-size: 16px;
    font-weight: 700;
}

@media (max-width: 1024px) {
    .object-content {
        padding-bottom: 100px;
    }

    .object-content__wrapper {
        max-width: 768px;
        padding: 0;
        margin: 0 auto;
    }

    .object-content__heading {
        font-size: 40px;
    }

    .object-content__address {
        margin-bottom: 25px;

        font-size: 24px;
    }

    .object-content__label,
    .object-content__calculate {
        display: block;
        width: 100%;
        position: relative;
        top: 0 !important;
        padding-left: 56px;
        padding-top: 0;
        margin-top: -1px;
        border: solid 1px #f5f7f9;

        color: #000;
        font-size: 24px;
        line-height: 64px;
        text-decoration: none;

        &::before {
            display: none;
        }

        &:first-child {
            margin-top: 0;
        }

        .icon {
            width: 24px;
            height: 24px;
            position: absolute;
            top: 20px;
            right: 30px;

            transition: all 300ms ease;

            background-image: none;

            &::before {
                content: '';
                position: absolute;
                width: 0;
                left: 11px;
                top: 0;
                height: 22px;
                border: solid 1px #848f9b;

                transition: all 300ms ease;
            }

            &::after {
                content: '';
                position: absolute;
                width: 22px;
                height: 0;
                top: 11px;
                left: 0;
                border: solid 1px #848f9b;

                transition: all 300ms ease;
            }
        }

        &.active .icon {
            &::before {
                transform: rotate(90deg);
                border-color: #fff;
            }

            &::after {
                border-color: #fff;
            }
        }

        span {
            position: relative;
            width: 100%;
            color: inherit;
            font: inherit;

            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                bottom: -5px;
                left: 0;

                background-color: $themecolor;

                transition: width 300ms ease;
            }
        }

        &:hover,
        &:focus {
            color: $darktext;
            text-decoration: none;

            outline: none;

            span {
                color: $darktext;
                &::after {
                    width: 100%;
                }
            }
        }
    }

    .object-content__block {
        width: 100%;
        padding: 0 25px;
        left: 0;
        top: 0;
        margin-bottom: 0;

        max-height: 0;
        overflow: hidden;
        transition: max-height 500ms ease-out;

        &.active {
            max-height: none;
        }

        &.visible {
            max-height: none; 
        }

        &:first-child {
            margin-top: 0;
        }
    }

    .object-content__title {
        display: none;
    }

    .object-content__spec {
        margin-top: 25px;
        margin-bottom: 30px;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
    }

    .object-content__spec-col {
        &::after {
            right: 10px;
            width: 2px;
        }
    }

    .object-content__spec-title {
        font-size: 12px;
    }

    .object-content__spec-data {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .object-content {
        padding-top: 50px;
        padding-bottom: 50px;

        .inner {
            padding: 0;
        }
    }

    .object-content__heading {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .object-content__address {
        margin-bottom: 20px;

        font-size: 20px;
    }

    .object-content__list {
        margin-bottom: 0;
    }

    .object-content__label,
    .object-content__calculate {
        border-right-width: 0;
        border-left-width: 0;
    }

}

@media(max-width: 480px) {
    .object-content__spec {
        flex-wrap: wrap;
    }

    .object-content__spec-col {
        width: 50%;
        flex: 1 1 50%;

        margin-bottom: 10px;

        &:last-child::after {
            display: block
        }
    }
}

@media (max-width: 380px) {

    .object-content__heading {
        font-size: 24px;
    }

    .object-content__address {
        font-size: 16px;
    }

    .object-content__label,
    .object-content__calculate {
        padding-left: 20px;
        padding-right: 30px;

        font-size: 20px;

        .icon {
            right: 10px;
        }
    }

    .object-content__block {
        padding-left: 10px;
        padding-right: 10px;
    }

    .object-content__slider {
        .slick-arrow {
            width: 36px;
            height: 36px;
        }
    }
}