mixin object-content()
    +b.SECTION.object-content
        +inner
            +e.wrapper
                +e.block.visible
                    +e.H1.heading Супермаркет «Пятерочка»
                    +e.P.address Московская обл., г. Люберцы, Октябрьский пр., 55
                    +e.slider
                        +e.item
                            +e.item-inner
                                img(src='images/object/slide1.jpg')
                        +e.item
                            +e.item-inner
                                img(src='images/object/slide1.jpg')
                        +e.item
                            +e.item-inner
                                img(src='images/object/slide1.jpg')
                    +e.spec
                        +e.spec-col
                            +e.spec-title Категория здания
                            +e.spec-data Стрит-ритейл
                        +e.spec-col
                            +e.spec-title Стоимость 1 кв. м.
                            +e.spec-data 247 448 ₽
                        +e.spec-col
                            +e.spec-title Площадь
                            +e.spec-data 646.6 кв.м
                        +e.spec-col
                            +e.spec-title Балансовая стоимость 
                            +e.spec-data 160 000 000 ₽
                +e.A.label.js-link.active(href='#object-description') 
                    span Описание
                    .icon
                +e.block.active#object-description
                    +e.H2.title Описание
                    +object-description
                +e.A.label.js-link(href='#object-planning') 
                    span Планировка
                    .icon
                +e.block#object-planning
                    +e.H2.title Планировка
                    +object-planning
                +e.A.label.js-link(href='#object-location') 
                    span Расположение
                    .icon
                +e.block#object-location
                    +e.H2.title Расположение
                    +object-location
                +e.A.label.js-link(href='#object-finances') 
                    span Финансы
                    .icon
                +e.block#object-finances
                    +e.H2.title Финансы
                    +object-finances
                    +object-rating
                    +object-risks
                    +object-income
                +e.A.calculate.js-link(href='#object-calculator') 
                    .icon
                    span Рассчитать доходность
                +e.block#object-calculator
                    +e.H2.title Рассчитать доходность
                    +object-calculator