mixin object-content()
    +b.SECTION.object-content
        +inner
            +e.wrapper
                +e.A.label.active(href='#a') 
                    span Описание
                    .icon
                +e.block.active#a
                    +object-description
                +e.A.label(href='#b') 
                    span Планировка
                    .icon
                +e.block#b
                    +object-description
                +e.A.label(href='#d') 
                    span Расположение
                    .icon
                +e.block#d
                    +object-description
                +e.A.label(href='#e') 
                    span Финансы
                    .icon
                +e.block#e
                    +object-description
                +e.A.label(href='#f') 
                    span Документы
                    .icon
                +e.block#f
                    +object-description
                +e.A.label(href='#das') 
                    span Рассчитать доходность
                    .icon
                +e.block#das
                    +object-calculator