mixin sell-scheme()
    +b.SECTION.sell-scheme
        +inner
            +e.heading
                +subtitle('center')
                    | Абсолютная прозрачность
                +title('center')
                    | Схема реализации сделки
            +e.label
                | Срок закрытия сделки — 90 дней
            +e.image
                //- img(src="images/sell/scheme.svg")
                object(type="image/svg+xml" data="images/sell/scheme.svg")