mixin payForm(id)
    +b.SECTION.payForm(id='#{id}')
        +inner
            +e.FORM.form(action='#' method='post')
                +e.col
                    +e.row.--input
                        input(type="text" name='payName' required placeholder='Ваше имя')
                    +e.row.--input
                        input(type="text" name='payPhone' required placeholder='Ваш телефон' data-inputmask="'mask': '+7 (999) 999 99 99'")
                    +e.row.--input
                        textarea(name='payComment' placeholder='Комментарии')
                +e.col
                    +e.row.--select
                        +e.SELECT.select(name="service" required)
                            +e.OPTION
                    +e.row
                        +e.result
                            +e.SPAN.result-title Сумма к оплате:
                            +e.INPUT.result-sum(type='text' name='payPrice' required)
                    +e.row
                        +e.BUTTON.submit Перейти на страницу оплаты
                    +e.row.--logo
                    +e.row
                        +e.A.legal(href='#payLegal' data-toggle="modal" data-target="#payLegal") Информация об оплате

