
.payForm {
    padding: 40px 0;
    max-width: 400px;
    margin: 0 auto;
    font-family: $opsans;
    color: $darktext;
}

.payForm__form {
    width: 100%;
}

.payForm__row {
    &--input {
        width: 100%;
        margin-bottom: 25px;
        box-shadow: 0 2px 9px rgba(112, 112, 112, 0.5);
        background-color: #ffffff;
        font-size: 16px;
        input,
        textarea {
            border: none;
            width: 100%;
            padding: 15px;
            height: 100%;
            font: inherit;
            &::placeholder {
                color: #d1d3d4
            }
        }

        textarea {
            height: 80px;
            min-height: 50px;
            max-height: 120px;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }
    }


    &--select {
        margin-bottom: 30px;
    }

    &--logo {
        width: 100%;
        height: 35px;

        background-image: url('../images/pay_logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.payForm__result {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;
}

.payForm__result-title {
    color: #d1d3d4;
    font-size: 20px;
}

.payForm__result-sum {
    width: 100%;

    font-size: 42px;
    text-align: right;
    font-weight: 700;
    color: $themecolor;

    border: none;
}

.payForm__submit {
    @include btn-theme();
    background-color: darkgrey;
    box-shadow: none;

    max-width: 345px;
    margin: 0 auto 20px;
    padding: 10px 20px;

    font-size: 16px;

    &:hover,
    &:active {
        background-color: darkgrey;
    }
}

.payForm__form:valid .payForm__submit {
    background-color: $themecolor;
    box-shadow: 0 5px 11px rgba($themecolor, 0.6);

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: $lighttext;
        background-color: darken($themecolor, 10%);
    }

    &:active {
        background-color: darken($themecolor, 20%);
    }
}

.payForm__legal {
    margin-top: 5px;
    display: block;
    text-align: center;
    font-size: 10px;
    color: rgb(82, 81, 81);

    &:hover,
    &:active {
        text-decoration: none;
        color: black;
    }
}

// перебиваем стили select2
.payForm {
    .select2 {
        height: 100%;
        width: 100%;

        .select2-selection--single {
            border: none;
            height: 100%;
        }
       
        .select2-selection__rendered {
            padding: 15px;
        
            box-shadow: 0 2px 9px rgba(112, 112, 112, 0.5);
            background-color: #ffffff;
            font-size: 16px;
        }
    
        .select2-selection__arrow {
            border: none;
    
            position: absolute;
            width: 20px;
            height: 20px;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            background-image: url('../images/down-arrow.svg');
            background-size: cover;
            transition: transform 300ms ease;

            b {
                display: none;  
            }
        }
    
    }
    .select2-container--open .select2-selection__arrow {
        transform: translateY(-50%) rotate(180deg)
    }
}

.select2-container--open .select2-dropdown--below {
    border: none;
    
    box-shadow: 0 2px 9px rgba(112, 112, 112, 0.5);
    background-color: #ffffff;
    font-size: 16px;
}

.select2-results__option {
    padding: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .option__price {
        flex-shrink: 0;
        margin-left: 20px;
    }
}

.selected__option,
.select2-results__option {
    color: $themecolor;
    font-weight: 400;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $themecolor;
}


.select2-container--default .select2-results>.select2-results__options {
    max-height: 400px;
}

@media #{$tablet} {
    .payForm {
        padding: 50px 0 70px;
        max-width: 1120px;
    }

    .payForm__form {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .payForm__col {
        width: 47%;
        flex:  0 1 auto;
    }
}

@media #{$desktop} {
    .payForm {
        padding: 100px 0 100px;
    }

    .payForm__col {
        width: 45%;
    }

    .payForm__row {
        &--input {
            font-size: 20px;

            input,
            textarea {
                padding: 20px;
            }

            textarea {
                height: 240px;
                min-height: 150px;
                max-height: 280px;
            }
        }

        &--select {
            margin-bottom: 60px;
        }

        &--logo {
            height: 55px;
        }
    }

    .payForm__result {
        margin-bottom: 50px;
    }

    .payForm__legal {
        margin-top: 15px;
        font-size: 14px;
    }

    .payForm__result-title {
        font-size: 28px;
    }

    .payForm__result-sum {
        font-size: 56px;
    }

    .payForm__submit {
        max-width: 100%;
        width: 100%;
        margin-bottom: 35px;

        font-size: 20px;
    }

    // перебиваем стили select2
    .payForm {

        .select2 {
            .select2-selection__rendered {
                padding: 20px;
                font-size: 20px;
            }

            .select2-selection__arrow {
                width: 25px;
            }
        }
    }

    .select2-container--open .select2-dropdown--below {
        font-size: 20px;
    }

    .select2-results__option {
        padding: 20px;
    }
}