mixin object-description()
    +b.SECTION.object-description
        +e.P.text
            | Инвесторам предлагается профессионально отобранный объект недвижимости институционального качества формата street-retail — супермаркет «Пятерочка», расположенный в подмосковных Люберцах на Октябрьском проспекте, д.55. Данное предложение представляет собой редкую возможность инвестирования в рынок торговых помещений в секторе продуктового ритейла, являющегося наиболее привлекательным сектором коммерческой недвижимости в России.
        +e.P.text
            | На стадии отбора по предлагаемому объекту недвижимости был проведен полный инвестиционный анализ. Данный магазин бренда «Пятерочка» имеет стабильные показатели по соотношению аренды к выручке и является одним из лучших в сети. Объект располагается на первой линии домов центральной магистрали города и обладает при этом удобной парковкой. Площадь и состояние здания привлекательны для конкурентов и смежных видов бизнеса. Арендатором супермаркета является один из крупнейших и надежных продуктовых ритейлеров России — X5 Retail Group, имеющий длительную и прозрачную историю работы на данном объекте.
