mixin verification-wrapper()
    +b.verification-wrapper
        +inner
            +e.inner
                +e.ASIDE.aside
                    +verification-nav
                +e.MAIN.main
                    block
