mixin greeting()
    +b.SECTION.greeting
        +inner
            +e.wrapper
                +e.ceo
                    +e.image
                        image(src='images/main/ceo.jpg' alt='Оскар Хартманн')
                        +e.video-link(href='#')
                    +e.name Оскар Хартманн,
                    +e.post Основатель и Президент AKTIVO
                +e.content
                    +e.H1.title
                        | Коллективные инвестиции в коммерческую недвижимость
                    +e.P.text
                        | Мы с вами участвуем в построении чего-то большего, чем просто компания. Мы совместно делаем рынок недвижимости более доступным и привлекательным и создаем возможность пассивного и долгосрочного дохода для каждой семьи в России.
                    +e.A.button(href='#') Наши объекты