mixin about-history()
    +b.SECTION.about-history
        +inner
            +e.wrapper
                +e.row
                    +e.col
                        +e.A.video-link(data-fancybox href="https://www.youtube.com/embed/U6vutH_9e_0?rel=0&fs=1&autoplay=0")
                    +e.col
                        +e.P.text
                            | Основанием для создания данной площадки стала существующая проблема рынка инвестиций в коммерческую недвижимость: покупка объекта требует крупных единовременных вложений, а подбор и управление объектом занимает много времени. Помимо этого, такой вид инвестиций требует обширных знаний в этой области, которыми обладает довольно узкий пул населения.
                        +e.P.text
                            | Зарубежный опыт коллективных инвестиций показал, что стать владельцем коммерческой недвижимости можно и без миллиардных вложений и лишней головной боли. 
                +e.row
                    +e.col
                        +e.year 2015
                            +e.SPAN.year-dots.--type1
                        +e.P.text
                            | Первый объект, размещенный на площадке —  супермаркет «Пятерочка» (Люберцы, Московская область) был приобретен в коллективное владение в начале декабря 2015 года.
                        +e.P.text
                            | Сделка по коллективному приобретению «Пятерочки» частично реализована на основе клубного механизма. Закрытое предложение получили в общей сложности 250 потенциальных инвесторов, из которых участниками стали более 50 частных лиц. При этом ни один из участников сделки не владеет более чем 50% долей «Пятерочки». Суммы инвестиций в рамках коллективной покупки составили от 500 тысяч до 20 миллионов рублей. Покупателями выступили, прежде всего, владельцы крупного бизнеса и представители топ-менеджмента российских и зарубежных компаний.
                    +e.col
                        +e.center
                            +e.P.highlights.--decor
                                | Активо сегодня —  это платформа, которая уже позволила сотням инвесторов преумножить собственный капитал.
                            +e.P.highlights
                                |  Наша цель —  сделать процесс инвестирования простым, понятным и доступным для более широкого круга.
                +e.row.--column
                    +e.col
                        +e.year.--no-margin 2018
                            +e.SPAN.year-dots.--type2
                            +e.SPAN.year-dots.--type3
                        +e.center
                            +e.P.highlights.--decor
                                | Инвестору нужно только выбрать объект, определить количество паев, заключить договор и получать ежемесячные выплаты.
                    +e.col
                        +e.P.text
                            | Активо занимается поиском и тщательным подбором объектов, имеющих качественный пул арендаторов и стабильную долгосрочную доходность. Наша платформа позволяет коллективно инвестировать в недвижимость высокого качества, которая раньше была доступна только профессиональным игрокам рынка. Такой формат дает возможность разделить стоимость объекта между участниками. При этом размер инвестиций составит от 500 тысяч до нескольких миллионов. Уровень безопасности остается высоким, а расходы, связанные с отбором и проверкой объектов, несем мы.
                        +e.P.text
                            | Всю работу с арендаторами, коммунальными службами и государственными органами компания Активо берет на себя, что снимает с собственника все риски, связанные с урегулированием конфликтов внутри объекта.
                        +e.P.text
                            | Таким образом, инвестору нужно только выбрать объект, определить количество паев, заключить договор и получать ежемесячные выплаты!
                        +e.center.--mobile
                            +e.P.highlights.--decor
                                | Активо сегодня —  это платформа, которая уже позволила сотням инвесторов преумножить собственный капитал.
                            +e.P.highlights
                                |  Наша цель —  сделать процесс инвестирования простым, понятным и доступным для более широкого круга.






