mixin object-income()
    +b.SECTION.object-income
        +e.H2.heading Финансы
        +e.subtitle Годовые финансовые показатели объекта
        +e.content
            +e.col
                +e.chart
                    canvas#income-chart
            +e.col
                +e.data