.object-income {
    margin-bottom: 70px;
}

.object-income__title {
    margin: 0;
    margin-bottom: 20px;

    font-size: 24px;
    font-weight: 400;
}

.object-income__chart {
    position: relative;
    height: 250px;
    margin-bottom: 40px;
}

.object-income__link {
    position: relative;
    font-size: 14px;
    color: #3c7bd8;
    text-decoration: none;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        left: 0;
        bottom: -3px;
        border-bottom: 1px dashed #3c7bd8;
        
        transition: color 300ms ease;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;

        color: darken($color: #3c7bd8, $amount: 20%)
    }
}