mixin object-income()
    +b.SECTION.object-income
        +e.H2.heading Финансовые выплаты
        +e.content
            +e.col
                +e.chart
                    canvas#income-chart
            +e.col
                +e.data