.object-income {

}

.object-income__chart {
    position: relative;
    height: 250px;
}

.object-income__heading {
    margin: 0;
    margin-bottom: 20px;

    font-size: 24px;
}

.object-income__subtitle {
    margin-bottom: 40px;

    font-size: 24px;
}

.object-income__text {
    margin: 0;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 1.5;

    &:last-child {
        margin-bottom: 0;
    }
}