mixin doc-footer()
    // build:js js/vendor.js 
    script(src='/libs/jquery.min.js')
    script(src='/libs/bootstrap.min.js')
    script(src='/libs/rangeslider.js')
    //- script(src='https://code.highcharts.com/highcharts.js')
    script(src='/libs/highcharts.js')
    //- script(src='/libs/highstock.js')
    script(src='/libs/chartjs/chart.min.js')
    script(src='/libs/wow.min.js')
    script(src='/libs/slick/slick.min.js')
    script(src='/libs/d3.min.js')
    script(src='/libs/dropzone/dropzone.js')
    script(src='/libs/simpleBar/simplebar.js')
    //- script(src='/libs/jquery.inputmask.min.js')
    //- script(src='/libs/lazyload.js')
    //- script(src='/libs/svgxuse.js')
    //- script(src='/libs/polyfills/placeholders.min.js')
    //- script(src='/libs/picturefill.min.js')
    //- script(src="libs/fontawsome.js")
    //- script(src='/libs/validation/jquery.validate.min')
    //- script(src='/libs/validation/additional-methods.min')

    //- script(src='/libs/modernizr-custom.js')
    script(src='/libs/fancybox/jquery.fancybox.min.js')
    //- script(src='/libs/jquery-migrate-3.0.0.min.js')
    //- script(src='/libs/jquery.mousewheel-3.0.6.pack.js')
    //- script(src='/libs/jquery.viewport.js')
    //- script(src='/libs/jquery.cookie.js')
    // endbuild
    // build:js js/main.js
    script(src='/js/bem.js')
    script(src='/js/main.js')
    // endbuild
    //- script.
    //-     function checkRecaptcha(token) {}
    //- script(src="https://www.google.com/recaptcha/api.js" async defer)

    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1-rc.1/js/select2.min.js")
    //- script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" defer type="text/javascript")
    //- script(src='/libs/calltouch.js')


