include template/header
include template/footer
include ../blocks/**/*
- var loggedIn = true
doctype
html(lang='ru')
  +doc-header
  body.pageload.no-js
    +main-header(href='/')
    +mobile-nav('dark')
    +greeting
    +invest-steps
    +advantages
    +object-select
    +calculator
    +partners
    +appeal
    +main-footer
    +doc-footer
