include template/header
include template/footer
include ../blocks/**/*
- var loggedIn = false
doctype
html(lang='ru')
  +doc-header
  body.pageload.no-js
    +main-header(href='/')
    +mobile-nav
    +object-select
    +doc-footer
