mixin main-footer()
    +b.FOOTER.main-footer
        +inner
            +e.wrapper
                +e.menu
                    +footer-nav
                +e.col
                    +e.logo
                        img(src="images/layout/logo-white.svg", alt="AKTIVO" width='88')
                    +e.socials
                        +socials
                +e.P.info
                    | Стоимость инвестиционных паев может увеличиваться и уменьшаться, результаты инвестирования в прошлом не определяют доходы в будущем, AKTIVO не гарантирует доходность инвестиций. Информация об инвестиционных фондах, объектах недвижимости, экономические показатели, а также любые аналитические и информационные данные предоставлены ООО «Активо» на правах пайщика указанных закрытых паевых инвестиционных фондов.
                +e.P.legal
                    | &copy;&nbsp;2018&nbsp;ООО &laquo;Активо&raquo;. Все права защищены