mixin partners()
    +b.SECTION.partners
        +inner
            +e.wrapper
                +e.heading
                    +subtitle Надежная подержка
                    +title Партнеры
                +e.UL.list
                    //- +e.LI.item(style="background-image: url('images/main/partner1.jpg')")
                    //- +e.LI.item(style="background-image: url('images/main/partner2.jpg')")
                    //- +e.LI.item(style="background-image: url('images/main/partner3.jpg')")
                    //- +e.LI.item(style="background-image: url('images/main/partner4.jpg')")
                    //- +e.LI.item(style="background-image: url('images/main/partner5.jpg')")
                    //- +e.LI.item(style="background-image: url('images/main/partner6.jpg')")
                    +e.LI.item
                        img(src='images/main/partner1.jpg')
                    +e.LI.item
                        img(src='images/main/partner2.jpg')
                    +e.LI.item
                        img(src='images/main/partner3.jpg')
                    +e.LI.item
                        img(src='images/main/partner4.jpg')
                    +e.LI.item
                        img(src='images/main/partner5.jpg')
                    +e.LI.item
                        img(src='images/main/partner6.jpg')