.panel.dt-3{

    &.message-panel{
        margin:20px 0 0;
        display: block;
    }

    
    .panel-content{
        text-align: left;
        color:#2d2d2d;
        font-size: 16px;
        line-height: 24px;
        padding:16px 34px 16px 14px;
        position: relative; left:0; top:0; z-index: 1;
        background: #fffdce;

        a{
            color:#2d2d2d;
        }
        p{
            font-size: 16px;
            line-height: normal;
        }

        a.close-panel{
            position: absolute; right: 16px; top:22px; z-index: 3;
            display: block;
            text-decoration: none;
            font-size: 0;
            line-height: 0;
            &:before{
                @include font-icon('close');
                color:#2d2d2d;
                text-decoration: none;
                font-size: 10px;
            }
        }
    }

    @include media-rule($medium-device-range, 'max-width', 'max'){
        .panel-content{
            font-size: 15px;
            p{
                font-size: 15px;
                line-height: normal;
            }
        }
    }
    @include media-rule($tablet-device-range, 'max-width', 'min'){
        .panel-content{
            font-size: 14px;
            p{
                font-size: 14px;
            }
        }
    }

    @include media-rule($small-devices-range, 'max-width', 'max'){
        .panel-content{
            font-size: 13px;
            p{
                font-size: 13px;
            }
        }
    }
    @include media-rule($extrasmall-devices-range, 'max-width', 'max') {
        .panel-content{
            font-size: 12px;
            p{
                font-size: 12px;
            }
        }
    }
}