mixin faq(id)
    +b.SECTION.faq(id='#{id}')
        +inner
            +e.title
                +title Что интересно клиентам?
            +e.UL.list
                //- +e.LI.item(itemscope itemtype="http://schema.org/Question")
                //-     +e.H3.question(itemprop="name")
                //-         +e.SPAN.question-icon
                //-             +icon('arrow_blue', 'faq') 
                //-         | Можно оплатить по результату?
                //-     +e.answer(itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer")
                //-         +e.P.text(itemprop="text")
                //-             | Мы не используем методы завлечения клиентов по типу «оплаты по результату» и «бесплатных консультаций». Такими средствами пользуются те, кто на деле ничего не гарантирует
                //-         +e.P.text(itemprop="text")
                //-             | «Бесплатная консультация» – это манипуляция. Большинство проблем придумывается на пустом месте, чтобы в последующем Вы стали клиентом
                //-         +e.P.text(itemprop="text")
                //-             | «Оплата по результату» в 98% случаев представляет собой тренировочное поле для начинающего юриста или практиканта
                //-         +e.P.text(itemprop="text")
                //-             | К нам не раз приходили люди после таких «бесплатных» консультаций. Практически никто не отзывался о них положительно и за юридической помощью приходилось обращаться повторно, только потерянного времени уже не вернуть.
                +e.LI.item(itemscope itemtype="http://schema.org/Question")
                    +e.H3.question(itemprop="name")
                        +e.SPAN.question-icon
                            +icon('arrow_blue', 'faq') 
                        | Какие гарантии?
                    +e.answer(itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer")
                        +e.P.text(itemprop="text")
                            | 93% наших клиентов получают положительные результаты, но мы не гарантируем решение любой проблемы, т.к. давать гарантии адвокату запрещается законом
                        +e.P.text(itemprop="text")
                            | У адвоката нет властных полномочий и заставить конкретное лицо соблюдать закон он не может. Исход дела не зависит от него в полной мере, т.к. он лишь содействует принятию законного решения по делу, а не принимает его сам
                        +e.P.text(itemprop="text")
                            | Как известно, государственные органы применяют закон не всегда должным образом, а значит результат рассмотрения того ли иного дела не всегда находится в непосредственной власти адвоката
                +e.LI.item(itemscope itemtype="http://schema.org/Question")
                    +e.H3.question(itemprop="name")
                        +e.SPAN.question-icon
                            +icon('arrow_blue', 'faq') 
                        | Как узнать точную стоимость адвоката?
                    +e.answer(itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer")
                        +e.P.text(itemprop="text")
                            | Цена складывается из нескольких факторов: степени тяжести дела и его стадии
                        +e.P.text(itemprop="text")
                            | Вы узнаете стоимость на первой встрече с адвокатом после ознакомления с делом
                        +e.P.text(itemprop="text")
                            | Сумма прописывается в договоре и не повышается в течении cрока защиты
                 +e.LI.item(itemscope itemtype="http://schema.org/Question")
                    +e.H3.question(itemprop="name")
                        +e.SPAN.question-icon
                            +icon('arrow_blue', 'faq') 
                        | Какие документы нужны, чтобы Вы подсказали перспективу спора по арбитражному делу?
                    +e.answer(itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer")
                        +e.UL.answer-list(itemprop="text")
                            +e.LI.answer-item Договор, все приложения к нему
                            +e.LI.answer-item Акты выполненных работ, если выполняли работы (оказывались услуги); если был поставлен товар, то товарные накладные
                            +e.LI.answer-item Подписанные акты сверки (при наличии) и односторонний акт сверки на текущую дату
                            +e.LI.answer-item Переписка сторон, в том числе электронные письма
                            +e.LI.answer-item Гарантийные письма (при наличии)
                            +e.LI.answer-item Выписка из налоговой
                            +e.LI.answer-item Копию искового заявления, если подан иск
                         +e.P.text(itemprop="text") Копии этих документов отправьте на почту msk@advokatkin.ru
                +e.LI.item(itemscope itemtype="http://schema.org/Question")
                    +e.H3.question(itemprop="name")
                        +e.SPAN.question-icon
                            +icon('arrow_blue', 'faq') 
                        | Смогу ли я получить компенсацию за потраченные на ваши услуги деньги?
                    +e.answer(itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer")
                        +e.P.text(itemprop="text")
                            | Мы взыскиваем с проигравшей стороны все понесенные Вами судебные расходы, в том числе - на оплату услуг представителей            