.faq {
    padding-top: 45px;
    padding-bottom: 50px;

    color: $darktext;
    font-family: $opsans;
}

.faq__title {
    margin-bottom: 45px;
}

.faq__list {
    padding: 0;
    list-style: none;
    max-width: 880px;
    margin: 0 auto;
}

.faq__item {
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }
}

.faq__question {
    position: relative;
    margin-bottom: 20px;
    padding: 10px 0 10px 50px;

    font-size: 20px;
    font-weight: 700;

    cursor: pointer;
    transition: color 300ms ease;

    &:hover,
    &:active,
    &:focus {
        color: lighten($color: $darktext, $amount: 20%)
    }

    &.active {
        .faq__question-icon {
            transform: rotate(90deg) translateX(-50%);
        }
    }
}

.faq__question-icon {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 50%;
    box-shadow: 2px 0 7px #76c8ff;

    transition: transform 300ms ease;
    transform-origin: center center;

    svg {
        width: 100%;
        height: 100%;
    }
}

.faq__answer {
    display: none;

    font-size: 14px;
    font-weight: 400;
}

.faq__text {
    margin: 0;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

.faq__answer-list {
    margin-bottom: 15px;
}

.faq__answer-item {
    list-style-type: disc;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .faq {
        padding-top: 35px;
        padding-bottom: 25px;
    }

    .faq__title {
        margin-bottom: 40px;
    }

    .faq__question {
        padding: 10px 0 10px 40px;
        font-size: 14px;

        &::before {
            width: 25px;
            height: 25px;
            margin-top: -12px;
        }
    }

    .faq__answer {
        font-size: 13px;    
    }
}

@media (max-width: 480px) {
    .faq {
        padding-top: 25px;
    }

    .faq__title {
        margin-bottom: 25px;
    }

    .faq__question {
        padding: 5px 0 5px 30px;
        
        &::before {
            width: 18px;
            height: 18px;
            margin-top: -9px;

            background-size: 10px 6px;
        }
    }

    .faq__question-icon {
        width: 18px;
        height: 18px;
    }

    .faq__answer {
        font-size: 12px;
    }
}

