mixin partner-appeal()
    +b.SECTION.partner-appeal
        +inner
            +e.heading
                | Если у Вас возникли какие-либо вопросы, свяжитесь с нами любым удобным способом:
            +e.A.email(href='mailto:m.kostromin@aktivo.ru') m.kostromin@aktivo.ru
            +e.phones
                +e.SPAN.phone-number 8 (800) 500 64 64 (доб. 108)
                +e.SPAN.phone-number 8 (905) 571 74 28
            +e.BUTTON.button Позвоните мне