.steps {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 30px;

    color: $darktext;
    font-family: $opsans;
}

.steps__heading {
    margin-bottom: 50px;
}

.steps__list {
    padding: 0;
    list-style: none;

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.steps__item {
    float: left;
    width: 47%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-right: 6%;

    &:nth-child(2n) {
        float: right;
        margin-right: 0;
    }

    &:nth-child(n+2) {
        margin-top: 70px;
    }
}

.steps__counter {
    width: auto;
    flex: 0 0 auto;

    color: #eaeaea;
    font-size: 144px;
    font-weight: 700;
}

.steps__content {
    flex: 1 1 auto;
    width: auto;
}

.steps__title {
    padding-top: 50px;
    margin: 0 0 25px;

    font-size: 16px;
    font-weight: 400;
}

.steps__text {
    margin: 0 0 10px;
    
    font-size: 14px;
    font-weight: 300;
}

@media (max-width: 1200px) {
    .steps {
        padding-top: 50px;
    }

    .steps__heading {
        margin-bottom: 50px;
    }

    .steps__item {

        &:nth-child(n+2) {
            margin-top: 40px;
        }
    }

    .steps__counter {
        font-size: 95px;
    }

    .steps__title {
        padding-top: 35px;
        margin-bottom: 25px;

        font-size: 15px;
    }

    .steps__text {
        font-size: 13px;
    }
}

@media (max-width: 767px) {
    .steps {
        padding-top: 55px;
    }

    .steps__heading {
        margin-bottom: 15px;
    }

    .steps__item {
        width: 100%;
        &:nth-child(n+2) {
            margin-top: 10px;
        }
    }

    .steps__counter {
        font-size: 70px;
    }

    .steps__title {
        padding-top: 25px;
        margin-bottom: 15px;

        font-size: 14px;
    }

    .steps__text {
        font-size: 12px;
    }

}

@media (max-width: 480px) {
    .steps {
        padding-top: 35px;
    }
}

