mixin steps()
    +b.SECTION.steps#steps
        +inner
            +e.heading 
                +title Как лучше действовать при задержании?
            +e.UL.list
                +e.LI.item 
                    +e.counter 1
                    +e.content
                        +e.H3.title Сохраняйте спокойствие и просите телефонный звонок
                        +e.P.text
                            | Во-первых, сохраняйте самообладание и держите себя в руках.
                        +e.P.text
                            | Где в одном месте в графе "задержанный заявил по поводу задержания" указать собственноручно, то есть написать: "мне нужен адвокат, которого пригласят родственники, от всех остальных адвокатов я отказываюсь. Следователь ограничил меня в связи с родственниками и приглашении своего адвоката".
                        +e.P.text
                            | И если следователь предоставляет вам своего адвоката – надо отказаться, после чего дождаться прибытия вашего адвоката и действовать только после консультации с ним.
                +e.LI.item 
                    +e.counter 2
                    +e.content
                        +e.H3.title Ничего не подписывайте и требуйте составить протокол задержания
                        +e.P.text
                            | Во-вторых, если с первым пунктом не получилось, ничего не подписывать и потребовать составить протокол вашего задержания.
                        +e.P.text
                            | У вас есть право на один телефонный звонок, поэтому попросите сотрудников дать возможность связаться с родственниками или знакомыми, (надо позвонить лично, пусть даже этот разговор слышат полицейские), которым сообщить, где вы (можно указать за что но не обязательно) и что вам срочно нужен платный адвокат, потому что "бесплатный сыр" сами знаете где.
                        +e.P.text
                            | Можно добавить, что к преступлению Вы не причастны и задерживаетесь незаконно. (например, если нет указанных причин для задержания) 
                        +e.P.text
                            | Смысл вышеизложенного может быть передан своими словами, только после этой Собственноручной записи поставить свою подпись и при всех (могут быть посторонние свидетели), при понятых требовать звонка приглашения вашего адвоката.
                +e.LI.item 
                    +e.counter 3
                    +e.content
                        +e.H3.title Окончательное решение о лишении Вас свободы принмает суд
                        +e.P.text
                            | В-третьих, окончательное решение о лишении вас свободы принимает суд.  До суда могут держать двое суток.
                        +e.P.text
                            | Если будут бить и такое иногда бывает (всё реже конечно), нужно чтобы у вас пошла кровь (ведь кровь это следы), Вам вызовут скорую (помните, никто не хочет сидеть). 
                        +e.P.text
                            | Как этого добиться? Есть разные способы, главное фантазия. Опытные зеки обрывают бровь или ударяются лбом об острые края стола, но без фанатизма, главное повреждения кожи, а не головы.  
                        +e.P.text
                            | Скорой сообщить, что вас бьют (повреждения от избиения), попросить позвонить родственникам и рассказать где вы находитесь.
                +e.LI.item 
                    +e.counter 4
                    +e.content
                        +e.H3.title Сообщите в суде, если Вам не предоставили возможность позвонить
                        +e.P.text
                            | В-четвёртых, если дело дошло до суда, то в судебном заседании сообщить, что вам не предоставили возможность связаться с родственниками и пригласить своего адвоката.  
                        +e.P.text
                            | От чужого адвоката отказаться ,то есть предоставленого судомом (пришедшего в суд со следователем), и потребовать пригласить своего через родственников или попросить позвонить по нашему телефону который стоит запомнить +7 (495) 150-09-02
                +e.LI.item 
                    +e.counter 5
                    +e.content
                        +e.H3.title Все действия принимайте только после консультации с адвокатом.
                        +e.P.text
                            | В-пятых, держитесь и постоянно требуется своего адвоката. 
                        +e.P.text
                            | И скорее всего все пять пунктов с вами не произойдут, и свой адвокат прибудет к вам гораздо раньше, но до его приезда лучше никаких показаний не давать и ничего не подписывать. (исключение указанного во втором пункте). 
                        +e.P.text
                            | Вы всегда можете отказаться от дачи показаний и любых объяснений на основании статьи 51 конституции РФ, дающей право не свидетельствовать против себя и близких.
                        +e.P.text
                            | И кто бы вам что не говорил, и как бы не пугал, всегда отказывайтесь от пояснений без адвоката по статье 51, даже если вас пытаются допросить свидетелем и пугают ответственностью за отказ от дачи показаний.  
                        +e.P.text
                            | Свидетель вы или нет, подозреваемый и т.д. можно решить только после консультации с адвокатом. И всегда помните при правильной защите, в том числе самостоятельной, никакая ответственность вам не грозит.

                    