.howitworks-investment {
    padding-top: 60px;
    padding-bottom: 105px;

    font-family: $segoe;
    color: $darktext;
}

.howitworks-investment__heading {
    margin-bottom: 70px;
}

.howitworks-investment__image {
    max-width: 985px;
    margin: 0 auto;

    &--mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .howitworks-investment {
        padding-top: 45px;
        padding-bottom: 90px;
    }

    .howitworks-investment__heading {
        margin-bottom: 45px;
    }

    .howitworks-investment__image {
        display: none;
        max-width: 480px;

        &--mobile {
            display: block;
        }
    }
}