mixin howitworks-investment()
    +b.SECTION.howitworks-investment
        +inner
            +e.heading
                +subtitle('center')
                    | Абсолютная прозрачность
                +title('center')
                    | Инвестиции в недвижимость с Активо     
            +e.image
                picture
                    source(srcset="images/howitworks/invest.svg" media="(min-width: 769px)")
                    img(src="images/howitworks/invest_m.svg")