.monitoring-content {
    padding-bottom: 150px;

    font-family: $segoe;
    color: $darktext;
}

.monitoring-content__wrapper {
    display: flex;
}

.monitoring-content__main {
    flex: 1 1 auto;
    width: 70%;
}

.monitoring-content__sidebar {
    flex: 1 1 auto;
    width: 30%;
    min-width: 340px;
    margin-right: 1.3%;
}

@media (max-width: 1024px) {
    .monitoring-content__wrapper {
        flex-flow: column nowrap;
    }

    .monitoring-content__main {
        margin: 0;
        width: 100%;
        max-width: none;
    }

    .monitoring-content__sidebar {
        margin: 0 0 16px;
        width: 100%;
        order: -1;
    }
}

@media (max-width: 480px) {
    .monitoring-content {
        padding-bottom: 70px;
    }
}
