mixin monitoring-content()
    +b.monitoring-content
        +inner
            +e.wrapper
                +e.ASIDE.sidebar
                    +monitoring-sidebar
                +e.MAIN.main
                    +monitoring-finances
                    +monitoring-objects