@font-face {
    font-family: 'Segoe UI';
    src: url('.../fonts/SegoeUI/Light/font.eot');
    src: local('Segoe UI Light'), local('.../fonts/SegoeUI/Light'),
        url('.../fonts/SegoeUI/Light/font.eot?#iefix') format('embedded-opentype'),
        url('.../fonts/SegoeUI/Light/font.woff') format('woff'),
        url('.../fonts/SegoeUI/Light/font.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI/BoldItalic/font.eot');
    src: local('Segoe UI Bold Italic'), local('../fonts/SegoeUI/BoldItalic'),
        url('../fonts/SegoeUI/BoldItalic/font.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI/BoldItalic/font.woff') format('woff'),
        url('../fonts/SegoeUI/BoldItalic/font.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI/SemiBold/font.eot');
    src: local('Segoe UI Semibold'), local('../fonts/SegoeUI/SemiBold'),
        url('../fonts/SegoeUI/SemiBold/font.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI/SemiBold/font.woff') format('woff'),
        url('../fonts/SegoeUI/SemiBold/font.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI/Regular/font.eot');
    src: local('Segoe UI'), local('../fonts/SegoeUI/Regular'),
        url('../fonts/SegoeUI/Regular/font.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI/Regular/font.woff') format('woff'),
        url('../fonts/SegoeUI/Regular/font.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI/Bold/font.eot');
    src: local('Segoe UI Bold'), local('../fonts/SegoeUI/Bold'),
        url('../fonts/SegoeUI/Bold/font.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI/Bold/font.woff') format('woff'),
        url('../fonts/SegoeUI/Bold/font.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI/Italic/font.eot');
    src: local('Segoe UI Italic'), local('../fonts/SegoeUI/Italic'),
        url('../fonts/SegoeUI/Italic/font.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI/Italic/font.woff') format('woff'),
        url('../fonts/SegoeUI/Italic/font.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

