.object-risks {
    margin-bottom: 50px;
}

.object-risks__title {
    margin: 0;
    margin-bottom: 20px;

    font-size: 24px;
    font-weight: 400;
}

.object-risks__subtitle {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
}

.object-risks__text {
    margin: 0;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 1.5;

    &:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    .object-risks__title {
        margin-bottom: 15px;
        
        font-size: 20px;
    }

    .object-risks__text {
        font-size: 14px;
    }
}