mixin object-risks()
    +b.SECTION.object-risks
        +e.H2.title Управление рисками
        +e.subtitle Негативные изменения рыночной конъюнктуры
        +e.P.text
            | Продукты питания — это товар неэластичного спроса, что обеспечивает устойчивость арендатора в негативной рыночной конъюктуре. Более 10 лет успешной работы X5 Retail Group на данной точке показывают стабильный покупательский спрос и сформированную аудиторию магазина с высокой посещаемостью магазина (2000 чел./сутки).
        +e.subtitle Неисполнение обязательств со стороны текущего арендатора
        +e.P.text
            | В договоре аренды не предусмотрено право досрочного расторжения, арендатором внесен депозит денежных средств. Соотношение арендных платежей к выручке является позитивным, что исключает риск снижения ставки аренды.




