.title {
    position: relative;
    margin: 0;

    font-family: $opsans;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-align: center;

    &--light {
        color: #fff;
    }
}

@media (min-width: 480px) {
    .title {
        font-size: 20px;
    }
}

@media #{$tablet} {
    .title {
        font-size: 24px;
    }
}

@media #{$desktop} {
    .title {
        font-size: 28px;
    }
}