.title {
    position: relative;
    margin: 0;

    font-family: $segoe;
    color: $darktext;
    font-size: 40px;
    font-weight: 700;
    text-align: left;

    &--light {
        color: #fff;
    }
}


