mixin contacts-offices()
    +b.contacts-offices
        +e.list
            +e.item
                +e.title.active Офис в Москве
                +e.data.active
                    +e.P.paragraph
                        | 123317, Москва, Пресненская наб., д.8, стр.1, МФК «Город Столиц»
                    +e.P.paragraph
                        | +7 (495) 150-64-64<br>+7 (800) 500-64-64
                    +e.P.paragraph
                        | Клиентам: <a href='mailto: welcome@aktivo.ru'>welcome@aktivo.ru</a><br> 
                        | Владельцам: <a href='mailto: welcome@aktivo.ru'>welcome@aktivo.ru</a><br> 
                        | Маркетинг: <a href='mailto: marketing@aktivo.ru'>marketing@aktivo.ru</a><br> 
                        | Пресс-секретарь: <a href='mailto: press@aktivo.ru'>press@aktivo.ru</a><br> 
                        | Вакансии: <a href='mailto: hr@aktivo.ru'>hr@aktivo.ru</a>
            +e.item
                +e.title Предcтавительство в УрФО
                +e.data
                    +e.P.paragraph
                        | 123317, Москва, Пресненская наб., д.8, стр.1, МФК «Город Столиц»
                    +e.P.paragraph
                        | +7 (495) 150-64-64<br>+7 (800) 500-64-64
                    +e.P.paragraph
                        | Клиентам: <a href='mailto: welcome@aktivo.ru'>welcome@aktivo.ru</a><br> 
                        | Владельцам: <a href='mailto: welcome@aktivo.ru'>welcome@aktivo.ru</a><br> 
                        | Маркетинг: <a href='mailto: marketing@aktivo.ru'>marketing@aktivo.ru</a><br> 
                        | Пресс-секретарь: <a href='mailto: press@aktivo.ru'>press@aktivo.ru</a><br> 
                        | Вакансии: <a href='mailto: hr@aktivo.ru'>hr@aktivo.ru</a>
            +e.item
                +e.title И еще одно
                +e.data
                    +e.P.paragraph
                        | 123317, Москва, Пресненская наб., д.8, стр.1, МФК «Город Столиц»
                    +e.P.paragraph
                        | +7 (495) 150-64-64<br>+7 (800) 500-64-64
                    +e.P.paragraph
                        | Клиентам: <a href='mailto: welcome@aktivo.ru'>welcome@aktivo.ru</a><br> 
                        | Владельцам: <a href='mailto: welcome@aktivo.ru'>welcome@aktivo.ru</a><br> 
                        | Маркетинг: <a href='mailto: marketing@aktivo.ru'>marketing@aktivo.ru</a><br> 
                        | Пресс-секретарь: <a href='mailto: press@aktivo.ru'>press@aktivo.ru</a><br> 
                        | Вакансии: <a href='mailto: hr@aktivo.ru'>hr@aktivo.ru</a>