mixin partner-slider()
    +b.SECTION.partner-slider
        +e.heading
            +subtitle('center', 'light') 
                | Вместе выгоднее
            +title('center', 'light')
                | Преимущества программы
        +e.slider
            +e.slide
                +e.content
                    +e.slide-number 1
                    +e.slide-title Официальный статус партнера
                    +e.P.slide-text
                        | Мы предоставляем участникам программы эксклюзивное право предлагать наш продукт своим клиентам.
            +e.slide
                +e.content
                    +e.slide-number 2
                    +e.slide-title Страхование
                    +e.P.slide-text
                        | AKTIVO обеспечивает страхование объектов от физического и иного ущерба. Партнерами страховых программ AKTIVO выступает «Альфа-страхование»,  «Ингосстрах», «Сбербанк Страхование» и другие крупнейшие страховые компании России. Если недвижимость пострадает, вы получите компенсацию равную сумме ваших инвестиций.
            +e.slide
                +e.content
                    +e.slide-number 3
                    +e.slide-title Страхование
                    +e.P.slide-text
                        | AKTIVO обеспечивает страхование объектов от физического и иного ущерба. Партнерами страховых программ AKTIVO выступает «Альфа-страхование»,  «Ингосстрах», «Сбербанк Страхование» и другие крупнейшие страховые компании России. Если недвижимость пострадает, вы получите компенсацию равную сумме ваших инвестиций.
            +e.slide
                +e.content
                    +e.slide-number 4
                    +e.slide-title Страхование
                    +e.P.slide-text
                        | AKTIVO обеспечивает страхование объектов от физического и иного ущерба. Партнерами страховых программ AKTIVO выступает «Альфа-страхование»,  «Ингосстрах», «Сбербанк Страхование» и другие крупнейшие страховые компании России. Если недвижимость пострадает, вы получите компенсацию равную сумме ваших инвестиций.
            +e.slide
                +e.content
                    +e.slide-number 5
                    +e.slide-title Страхование
                    +e.P.slide-text
                        | AKTIVO обеспечивает страхование объектов от физического и иного ущерба. Партнерами страховых программ AKTIVO выступает «Альфа-страхование»,  «Ингосстрах», «Сбербанк Страхование» и другие крупнейшие страховые компании России. Если недвижимость пострадает, вы получите компенсацию равную сумме ваших инвестиций.