mixin partner-slider()
    +b.SECTION.partner-slider
        +e.heading
            +subtitle('center', 'light') 
                | Вместе выгоднее
            +title('center', 'light')
                | Привилегии
        +e.slider
            +e.slide
                +e.content
                    +e.slide-number 1
                    +e.P.slide-text
                        | Доступ к эксклюзивным объектам недвижимости
            +e.slide
                +e.content
                    +e.slide-number 2
                    +e.P.slide-text
                        | Право предварительного доступа ко всем предложениям AKTIVO
            +e.slide
                +e.content
                    +e.slide-number 3
                    +e.P.slide-text
                        | Инфраструктуру для создания фондов недвижимости, а также полное сопровождение каждой сделки по приобретению объекта
            +e.slide
                +e.content
                    +e.slide-number 4
                    +e.P.slide-text
                        | Сообщество людей равного уровня
            +e.slide
                +e.content
                    +e.slide-number 5
                    +e.P.slide-text
                        | Индивидуальное консультирование каждого клиента по вопросам управления капиталом
            +e.slide
                +e.content
                    +e.slide-number 6
                    +e.P.slide-text
                        | Доступ на закрытые мероприятия с участием лидирующих экспертов в области инвестиций и персональных финансов
        +e.A.button(href='#') Стать участником клуба