mixin howitworks-audit()
    +b.SECTION.howitworks-audit
        +inner
            +e.heading
                +subtitle('center', 'light')
                    | Инвестируйте безопасно
                +title('center', 'light')
                    | Тщательный аудит каждого объекта
            +e.wrapper
                +e.col.--big
                    +e.image
                        object(type="image/svg+xml" data="images/howitworks/audit.svg")
                    +e.image.--mobile
                        object(type="image/svg+xml" data="images/howitworks/audit_m.svg")
                +e.col
                    +e.content
                        +e.P.text
                            | Каждый объект недвижимости проходит тщательный аудит юридической чистоты и доходности. Окончательное решение принимает инвестиционный комитет, который состоит из признанных экспертов рынка. В результате, мы предлагаем вам только <span class='highlight'>2%&nbsp;от&nbsp;всех&nbsp;рассмотренных объектов.</span>
                         +e.P.text
                            | Мы уверены в качестве предложения, поэтому вкладываем собственные средства в каждый объект.
                    +e.appeal
                        +e.P.appeal-text
                            | Персональный финансовый советник ответит на ваши вопросы
                        +e.BUTTON.appeal-button Позвоните мне        