mixin cases(id)
    +b.SECTION.cases(id='#{id}')
        +inner
            +e.heading
                +title Каких результатов добиваются наши адвокаты
            +e.info Согласно Федеральному Закону от 27.07.2006 № 152-ФЗ «О персональных данных», данные о людях изменены.
            +e.list
                +e.slide
                    +e.item
                        +e.column
                            +e.clause Хранение ст. 228 УК РФ
                        +e.column
                            +e.content
                                +e.title С какой проблемой обратился клиент:
                                +e.P.text
                                    | К нашему адвокату обратились друзья задержанного А., которому вменялось хранение 1,59 гр. амфетамина. То есть деяние, предусмотренное ч. 2 ст. 228 УК РФ, с наказанием до 10 лет лишения свободы со штрафом до 500 тысяч рублей или без такового.
                                +e.P.text
                                    | Адвокат, обсудив перспективы и гонорар, выехал в отдел полиции, где к этому времени находился подзащитный.                
                            +e.content   
                                +e.title Что сделал адвокат
                                +e.P.text
                                    | Адвокат добился встречи с А. и побеседовал с ним наедине. Подробно расспросил, как происходила процедура изъятия наркотического средства, и выяснил, что «порошкообразное вещество белого цвета» упаковано в полиэтиленовый пакет, горловина которого опечатана листом бумаги с подписями понятых и скреплена степлерными скобами. А этот способ упаковки противоречит п. 5 Приказа МВД России № 840, так как упаковка не обеспечивает сохранность изъятого вещества без нарушения целостности упаковки, т.е. скобы можно разогнуть, а потом вновь поставить на место.
                            +e.content     
                                +e.title Достигнутый результат:
                                +e.P.text
                                    | В суде адвокат заявил ходатайство о назначении повторной экспертизы и настоял на запросе в ЭКЦ МВД России. В ходе судебного следствия выяснилось, что изъятое вещество изменило цвет и стало «светло-бежевым», а ЭКЦ МВД указал на нарушение при изъятии.
                                +e.P.text
                                    | Подзащитный А. был освобожден из-под стражи, а уголовное дело в порядке ст. 237 УПК РФ возвращено судом прокурору для производства дополнительного расследования. В итоге к уголовной ответственности привлечены сотрудники полиции за подмену вещества.
                            +e.content
                                +e.title Отзыв
                                +e.P.text.--italic
                                    | &laquo;Я благодарен адвокату этой компании за помощь! Если бы не он, я бы не смог сам доказать свою невиновность. Как известно, у нас не всегда "чисто" проходят расследования и доказать это без опытного адвоката просто невозможно. Мои друзья вовремя нашли ваш сайт. Огромное спасибо!&raquo;
                +e.slide
                    +e.item
                        +e.column
                            +e.clause Срок принятия наследства ст. 1154 ГК РФ
                        +e.column
                            +e.content
                                +e.title С какой проблемой обратился клиент:
                                +e.P.text
                                    | Обратился гражданин Василий, так как не оформил наследство в установленный законом срок. На наследственное имущество претендовали братья.
                            +e.content   
                                +e.title Что сделал адвокат
                                +e.P.text
                                    | Адвокат полностью проконсультировал и разъяснил ст. 1152-1153 ГК РФ, составил исковое заявление в суд, участвовал в судебных заседаниях и отстаивал позицию по делу. Произвел судебный допрос свидетелей и исследование имевшихся документов.
                            +e.content     
                                +e.title Достигнутый результат:
                                +e.P.text
                                    | Судебное решение состоялось в пользу Василия, за ним признали право собственности в порядке фактически принятого наследства на трехкомнатную квартиру и автомобиль.
                                +e.P.text
                                    | Братья остались ни с чем, так как с покойным проживал только Василий.
                            +e.content
                                +e.title Отзыв
                                +e.P.text.--italic
                                    | &laquo;В апреле 2017 года скончалась бабуля, по завещанию оказалось, что все имущество она оставляет мне. Я не торопился с оформлением наследства, так как во-первых, не ожидал этого, во-вторых, не знал что и как делать и в какие сроки, ну а в-третьих, у меня жена лежала в роддоме на сохранении и было как-то не до этого. Решил заняться этим вопросом, когда родим. Так прошло больше полгода, пока мне не пришло письмо, что наследство переходит двум моим братьям (они даже не приезжали навещать бабушку последние 3 года!). Я сразу же позвонил по номеру +7 (495) 150-09-02, который мне дала знакомая и уже на следующий день адвокат разбирался с моим вопросом. Суд выиграли, наследство отстояли. Для меня это было важно в память о бабушке. Спасибо за помощь!&raquo;
                +e.slide
                    +e.item
                        +e.column
                            +e.clause Управление ТС в состоянии алкогольного опьянения ст. 12.8 КоАП РФ
                        +e.column
                            +e.content
                                +e.title С какой проблемой обратился клиент:
                                +e.P.text
                                    | Обратился Л по факту лишения водительского удостоверения за управление автомобилем в состоянии алкогольного опьянения.
                            +e.content   
                                +e.title Что сделал адвокат
                                +e.P.text
                                    | Адвокат сделал запрос в государственные органы стандартизации и сертификации, оказалось, что использованный алкотестер не прошел очередную проверку нормативов ГОСТа.
                            +e.content     
                                +e.title Достигнутый результат:
                                +e.P.text
                                    | Суд по жалобе адвоката прекратил производство по административному делу за отсутствием состава административного правонарушения. Л забрал водительское удостоверение.
                            +e.content
                                +e.title Отзыв
                                +e.P.text.--italic
                                    | &laquo;Вот так вот поедешь к маме в соседний город гостинцев отвезти, а приедешь в полицейской машине, без прав и с судимостью. Моя история, наверное, типична для нынешнего времени. При выезде из города меня ждали двое сотрудников полиции, которые попросили "дыхнуть в трубочку" и разумеется я оказался пьян (накануне ничего, кроме чая и воды не пил). Стало ясно, что это подстава, но ни знакомого адвоката, ни номера телефона хоть кого-то у меня не было. Как только приехал домой, нашел адвокаткина, объяснил всю ситуацию и адвокат взялся за дело. Как итог, дело закрыли за отсутствием нарушения. Еще бы! Я то трезвый был.&raquo;
                +e.slide
                    +e.item
                        +e.column
                            +e.clause Последствия нарушения условия о количестве товара  п. 3 ст. 466 ГК РФ
                        +e.column
                            +e.content
                                +e.title С какой проблемой обратился клиент:
                                +e.P.text
                                    | Между покупателем Сергеем и продавцом Николаем был заключен договор купли-продажи квартиры, денежные средства были полностью уплачены. К нам обратился Сергей по поводу неявки продавца для регистрации договора и перехода права собственности в Росреестр, из-за чего сделку не зарегистрировали.
                                +e.P.text
                                    | Согласно п. 3 ст. 466 ГК РФ, договор, подлежащий государственной регистрации, считается заключенным с момента его регистрации, если иное не установлено законом.          
                            +e.content   
                                +e.title Что сделал адвокат
                                +e.P.text
                                    | Наш адвокат составил письменное предложение Николаю добровольно явится в Росреестр к указной дате, которое Сергей отправил ценным письмом с описью вложения. После этого, выждав разумный срок около двух недель, был составлен иск о государственной регистрации перехода права собственности. Соответственно Николай выступал ответчиком, а наш доверитель Сергей истцом. Так как в соответствии с п. 8 ст. 8.1 ГК РФ отказ в государственной регистрации прав на имущество либо уклонение от государственной регистрации могут быть оспорены в суде.
                            +e.content     
                                +e.title Достигнутый результат:
                                +e.P.text
                                    | Состоялось судебное заседание, были проверены документы, представленные Сергеем: договор купли-продажи, платежное поручение из Сбербанка о переводе денежных средств и доказательства уклонения ответчика от регистрации. В судебные заседания Николай также не являлся. Суд на основании п. 1 ст. 165.1 ГК РФ направил два вызова Николаю о явке в судебное заседание. 
                                +e.P.text
                                    | Сообщение считается доставленным, если адресат уклонился от получения корреспонденции в отделении связи, в связи с чем она была возвращена по истечении срока хранения. А так как риск неполучения поступившей корреспонденции несет адресат, то Суд рассмотрел исковое заявление в отсутствие Николая и удовлетворил исковые требования, признав переход права собственности на купленную квартиру за Сергеем.
                +e.slide
                    +e.item
                        +e.column
                            +e.clause Изнасилование ст. 131 УК РФ 
                        +e.column
                            +e.content
                                +e.title С какой проблемой обратился клиент:
                                +e.P.text
                                    | Возбуждено уголовное дело по ст. 131 УК РФ (изнасилование) в отношении молодого человека, которого задержали по заявлению потерпевшей. К нашему адвокату обратились родственники.
                            +e.content   
                                +e.title Что сделал адвокат
                                +e.P.text
                                    | Адвокат ознакомился с материалами уголовного дела, которые на основании ст. 46 УПК РФ должны предъявляется подозреваемому. Провел с ним личную беседу в СИЗО. Так как сперма была обнаружена только на внешних половых губах потерпевшей, настаивал на переквалификации. 
                            +e.content     
                                +e.title Достигнутый результат:
                                +e.P.text
                                    | Суд переквалифицировал действия подзащитного на ст. 132 УК РФ (насильственные действия сексуального характера), за которую предусмотрена меньшая ответственности.  Молодой человек получил условное наказание, без реального лишения свободы.
                +e.slide
                    +e.item
                        +e.column
                            +e.clause Нарушение миграционного режима ст. 18.8 КоАП РФ
                        +e.column
                            +e.content
                                +e.title С какой проблемой обратился клиент:
                                +e.P.text
                                    | Задержана уроженка р. Гана С. Элизабет. Ей грозила ответственность по ч. 1.1 ст. 18.8 КоАП РФ с административным выдворением за пределы Российской федерации за несоблюдение миграционного законодательства.
                                +e.P.text
                                    | Районный суд без участия адвоката вынес решение о выдворении, после чего к адвокату обратилась её знакомая.
                            +e.content   
                                +e.title Что сделал адвокат
                                +e.P.text
                                    | Адвокат ознакомился с решением районного суда. Нашёл в нем множество процессуальных нарушений, из которых главное отсутствие переводчика и несоответствие обстоятельств дела установленному факту. После чего обжаловал решение нижестоящего суда в областной суд.
                            +e.content     
                                +e.title Достигнутый результат:
                                +e.P.text
                                    | В результате административное дело прекращено на основании п. 3 ч. ст. 30.7 КоАП РФ, в связи с недоказанностью обстоятельств, на основании которых вынесено постановление. Гражданка С. Элизабет освобождена из центра временного содержания иностранных граждан УМВД России.
                            +e.content
                                +e.title Отзыв
                                +e.P.text.--italic
                                    | &laquo;Благодаря специалистам Адвокаткина меня не депортировали из России, сняли все обвинения и судимость. Я могу продолжать изучать русский язык тут не переживая, что могут возникнуть проблемы с миграционной службой, так как нахожусь я тут легально. Очень понравилось, что когда вызывала второй раз своего адвоката - он был занят, но мне предоставили другого, который заранее разобрался в моем деле. То, что здесь не бросают на произвол судьбы своих клиентов достойно уважения.&raquo;
                +e.slide
                    +e.item
                        +e.column
                            +e.clause Установление отцовства ст.49 СК РФ
                        +e.column
                            +e.content
                                +e.title С какой проблемой обратился клиент:
                                +e.P.text
                                    | К нашему адвокату обратился гражданин Иванов, который судился с Петровой. Последняя подала на него иск в суд о признании отцовства Вани, так как во время рождения ребёнка они состояли в браке, а также требовала уплаты алиментов на содержание ребёнка.
                            +e.content   
                                +e.title Что сделал адвокат
                                +e.P.text
                                    | Наш Адвокат предложил назначить и провести по делу генетическую экспертизу. Руководствуясь требованиями ст. 79 ГПК РФ, адвокат заявил соответствующее ходатайство в суде. Так же позиция Иванова была подкреплена показаниями свидетелей.
                            +e.content     
                                +e.title Достигнутый результат:
                                +e.P.text
                                    | С помощью адвоката, Иванов выиграл суд у Петровой, т.к. эксперты генетики с вероятностью 99,0899999…% опровергли его биологическое отцовство в отношении Вани.
                                +e.P.text
                                    | С Петровой взысканы судебные издержки за производство экспертизы и за участие адвоката.
                            +e.content
                                +e.title Отзыв
                                +e.P.text.--italic
                                    | &laquo;Спасибо что открыли глаза на мою бывшую жену! Она требовала, чтобы я платил алименты за сына, хотя их я и так платил, просто лично ей, а не через суд, но ей, видимо, было мало. Адвокат сказал, что нужно бы сделать ДНК-тест для признания отцовства, на всякий случай. Но результаты меня поразили! Ребенок, которого я всю жизнь считал своим, оказался от другого мужчины. А жена еще смела что-то требовать от меня. Сына я обеспечивать не перестал, а вот давать деньги ей теперь не обязан и не буду. Она сама себя наказала.&raquo;
                +e.slide
                    +e.item
                        +e.column
                            +e.clause Побои ст. 116 УК РФ
                        +e.column
                            +e.content
                                +e.title С какой проблемой обратился клиент:
                                +e.P.text
                                    | Обратился Николай, который разбил нос Сергею. В свою очередь Сергей возбудил в мировом суде дело частного обвинения по ст. 116 УК РФ (побои). 
                            +e.content   
                                +e.title Что сделал адвокат
                                +e.P.text
                                    | После беседы с адвокатом выяснилось, что была взаимная драка и у Николая тоже есть телесные повреждения на шее. Было составлено встречное заявление, которое заявлено непосредственно в судебном заседании мирового суда. Адвокат отстаивал позицию Николая в суде, привлек и допросил свидетелей.
                            +e.content     
                                +e.title Достигнутый результат:
                                +e.P.text
                                    | Уголовное дело в отношении Николая и Сергея было прекращено мировым судом за примирением сторон, так как стороны под напором доказательств осознали, что им грозит взаимное осуждение и решили помириться.
                               
                            +e.title Отзыв
                                +e.P.text.--italic
                                    | &laquo;Благодарю компанию "Адвокаткин" за быстрое решение моего вопроса и полное понимание со стороны сотрудника. Буду рекомендовать вас друзьям. Спасибо!&raquo;
                +e.slide
                    +e.item
                        +e.column
                            +e.clause Представление и истребование доказательств ст. 57 ГПК РФ
                        +e.column
                            +e.content
                                +e.title С какой проблемой обратился клиент:
                                +e.P.text
                                    | Обратился гражданин Карим по разделу совместно нажитого имущества. Дело было уже в суде. Инициатором иска стала бывшая супруга Вероника. Карим не придавал большого значения этому вопросу. Но когда увидел сумму исковых требований и то, что по документам жена лишает его основного имущества, тут же пришел к нашим адвокатам, которые изучили представленные документы, дали консультацию и взялись за дело.
                                +e.P.text
                                    | Представляли Карима в суде двое сотрудников нашего юридического отдела. Это связано с объемом делимого имущества и необходимостью сбора доказательственной базы непосредственно самим адвокатом.            
                            +e.content   
                                +e.title Что сделал адвокат
                                +e.P.text
                                    | Вступили в дело как раз вовремя, так как судья решила было уже выносить окончательное решение по делу. Адвокаты заявили ходатайство об изучении доказательственной базы повторно и об истребовании новых доказательств в порядке ст. 57 ГПК РФ. При исследовании доказательств стало очевидно, что цены на имущество завышены – не учтен пробег автомобиля и реальный износ бытовой техники. Так же выяснилось коммерческая недвижимость в виде двух магазинов была приобретена до брака исключительно на денежные средства Карима. В суде адвокат заявил ходатайство о проведении оценочной экспертизы для оценки имущества. Суд ходатайство удовлетворил.  
                            +e.content     
                                +e.title Достигнутый результат:
                                +e.P.text
                                    | Суд с учетом собранных доказательств и оценки имущества разделил имущество супругов. Карим решением остался доволен, так как коммерческая недвижимость осталось в его собственности, а за часть бытовой техники и автомобиль назначена незначительная компенсация.
                +e.slide
                    +e.item
                        +e.column
                            +e.clause Кража ст. 158 УК РФ
                        +e.column
                            +e.content
                                +e.title С какой проблемой обратился клиент:
                                +e.P.text
                                    | Изначально обратился гражданин К. с обвинением по ч. 3 ст. 158 УК РФ (кража с проникновением в жилище). Следователи грозили арестом, если не сознается.
                            +e.content   
                                +e.title Что сделал адвокат
                                +e.P.text
                                    | После беседы с адвокатом получил консультацию о том, что К. вошел в квартиру с разрешения потерпевшей Л. Адвокат поговорил с потерпевшей Л., возместил ущерб деньгами под расписку. Участвовал во время следственных действий.
                            +e.content     
                                +e.title Достигнутый результат:
                                +e.P.text
                                    | Грамотные доказательства, собранные с помощью адвоката, позволили судье переквалифицировать действия К на ч. 1 ст. 158 УК РФ, в результате чего назначено наказание в виде штрафа.
                            +e.content
                                +e.title Отзыв
                                +e.P.text.--italic
                                    | &laquo;Конечно, полностью мы не смогли добиться освобождения от ответственности, но благодаря адвокату смягчили наказание до штрафа (хотя грозила тюрьма на 1,5 года), поэтому результатом я очень даже доволен. Благодарю за содействие.&raquo;
                +e.slide
                    +e.item
                        +e.column
                            +e.clause Незаконная предпринимательская деятельность ст. 171 УК РФ 
                        +e.column
                            +e.content
                                +e.title С какой проблемой обратился клиент:
                                +e.P.text
                                    | Обратился предприниматель П, у которого из офиса сотрудники полиции забрали троих работников и бухгалтерские документы. Сотрудники не были официально трудоустроены. То есть вырисовывалась незаконная предпринимательская деятельность, наказание за которое предусмотрено ст. 171 УК РФ. Адвокат выехал в отдел полиции.
                            +e.content   
                                +e.title Что сделал адвокат
                                +e.P.text
                                    | В полиции адвокат сразу направился к начальнику уголовного розыска. После разговора, с которым убедился, что законных оснований задерживать работников нет. По совету адвоката работники отказались давать объяснения, так как это их право, а не обязанность. 
                            +e.content     
                                +e.title Достигнутый результат:
                                +e.P.text
                                    | Работников предпринимателя отпустили. А Наш адвокат посоветовал устроить работников через Аутстаффинг.
                                +e.P.text
                                    | При этом все проблемы с бухгалтерией и трудовым оформлением были решены. После проверки в порядке ст. 144 УПК РФ, полицейские вынесли постановление об отказе в возбуждении уголовного дела.
                   
                