.advices {
    position: relative;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 80px;
    margin-top: 25px;

    font-family: $opsans;
    color: $lighttext;

    background-image: url('../images/advices-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.advices__wrapper {
    display: flex;
}

.advices__content {
    width: 50%;
}

.advices__image {
   width: 957px;
   height: 703px;
   right: 0;
   position: absolute;
   bottom: -2px;

   background-image: url('../images/iphone.png');
   background-size: 957px 703px;
   background-position: center right -180px;
   background-repeat: no-repeat;

   pointer-events: none;
}



.advices__heading {
    margin-bottom: 40px;

    .title {
        font-size: 36px;
        text-align: left;
    }
}

.advices__list {
    list-style: none;
    padding: 0;
    max-width: 620px;
    margin: 0 auto 60px;
}

.advices__item {
    position: relative;
    padding-left: 35px;
    margin-bottom: 30px;

    font-size: 20px;

    &::before {
        position: absolute;
        content: '';
        width: 25px;
        height: 18px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        background-image: url('../images/check-white.svg');
        background-size: cover;
    }
}

.advices__button {
    @include btn-theme();

    width: auto;
    max-width: 300px;
    padding: 17px 35px 15px;
    font-size: 18px;
}

@media (max-width: 1200px) {
    .advices {
        margin-top: 0;
        padding-top: 40px;
        padding-bottom: 55px;
    }

    .advices__heading {
        margin-bottom: 25px;

        .title {
            font-size: 24px;
        }
    }

    .advices__list {
        margin-bottom: 50px;
    }

    .advices__item {
        margin-bottom: 15px;
        padding-left: 25px;

        font-size: 14px;

        &::before {
            width: 18px;
            height: 14px;
        }
    }

    .advices__image {
        width: 616px;
        height: 442px;
        bottom: -1px;
        background-image: url('../images/iphone_medium.png');
        background-size: 616px 442px;
        background-position: center right -120px;
    }

    .advices__button {
        padding: 10px 25px;
        max-width: 180px;
        margin: 0 auto;

        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .advices__heading {
        margin-bottom: 25px;

        .title {
            font-size: 20px;
        }
    }

    .advices__image {
        background-position: center right -190px;
    }

}

@media (max-width: 480px) {
    .advices {
        margin-top: 0;
        padding-top: 35px;
        padding-bottom: 40px;
    }

    .advices__heading {
        margin-bottom: 20px;

        .title {
            font-size: 18px;
            text-align: left;
        }
    }

    .advices__wrapper {
        display: block;
        position: relative;
        z-index: 1;
    }

    .advices__content {
        width: 100%;
        max-width: 250px;
    }

    .advices__list {
        margin-bottom: 40px;
    }

    .advices__item {
        margin-bottom: 10px;
        padding-left: 25px;

        font-size: 13px;

        &::before {
            width: 15px;
            height: 11px;
        }
    }

    .advices__image {
        width: 528px;
        height: 381px;
        bottom: -1px;
        background-image: url('../images/iphone_small.png');
        background-size: 528px 381px;
        background-position: center right -240px;
    }

    .advices__button {
        padding: 10px 25px;
        max-width: 250px;
        font-size: 12px;
    }
}

@media (max-width: 360px) {
    .advices__image {
        background-image: none;
    }

    .advices__heading {
        .title {
            text-align: center;
        }
    }
    
    .advices__content {
        margin: 0 auto;
    }
}