mixin faq-appeal()
    +b.SECTION.faq-appeal
        +e.wrapper
            +e.P.text
                | Персональный финансовый советник ответит на ваши вопросы
            +e.BUTTON.button Позвоните мне