mixin about-topscreen()
    +b.SECTION.about-topscreen
        +inner
            +e.H1.heading История компании
            +e.P.text
                | В 2015 году основатель шопинг-клуба  KupiVip Оскар Хартманн создал и запустил интернет-платформу для краудфандинговых инвестиций в коммерческую недвижимость — так началась история Aktivo.