mixin liberty-about()
    +b.SECTION.liberty-about
        +e.heading
            h2 О клубе
        +e.wrapper
            +e.images
                +e.image.--small
                    img(src="images/liberty/liberty-ceo1.jpg", alt="Оскар Хартман")
                +e.image.--big
                    img(src="images/liberty/liberty-ceo2.jpg", alt="Оскар Хартман")
            +e.content
                +e.P.text
                    | Проект AKTIVO запущен в России известным предпринимателем <a href='#' title='Об Оскаре Хартмане'>Оскаром&nbsp;Хартманном</a> с целью реализации в нашей стране популярного за рубежом механизма крауд-инвестиций в недвижимость (real estate crowdfunding) и, как следствие, предложение рынку нового альтернативного источника пассивного дохода и инструмента сохранения и преумножения капитала.
                +e.P.text.--strong
                    | Мы создаем клуб инвесторов, цель которых — совместные инвестиции. AKTIVO LIBERTY будет объединять успешных владельцев собственного бизнеса и топ-менеджеров, которые планируют обеспечить себе и своей семье финансовую свободу посредством инвестиций в коммерческую недвижимость.