mixin object-select() 
    +b.SECTION.object-select
        +inner
            +e.wrapper
                +e.heading
                    +subtitle Только проверенные объекты
                    +title Выберите объект для инвестирования
                +e.slider
                    +e.slider-cards
                        +e.slider-card
                            +e.slider-card-image
                                img(src='images/main/object1.jpg')
                            +object-slide-card('Супермакет «Пятерочка»')
                        +e.slider-card
                            +e.slider-card-image
                                img(src='images/main/object1.jpg')
                            +object-slide-card('Супермакет «Магнит»')
                        +e.slider-card
                            +e.slider-card-image
                                img(src='images/main/object1.jpg')
                            +object-slide-card('Торговый центр')
                        +e.slider-card
                            +e.slider-card-image
                                img(src='images/main/object1.jpg')
                            +object-slide-card('Бизнец-центр «Янтарный»')
                        +e.slider-card
                            +e.slider-card-image
                                img(src='images/main/object1.jpg')
                            +object-slide-card('Бизнец-центр «Белый Остров»')
                    +e.slider-nav
                        +e.slider-nav-item
                            +e.slider-nav-card
                                +e.SPAN.slider-nav-title Супермакет «Пятерочка»
                                +e.SPAN.slider-nav-address д. Мисайлово, ул. Луговая, 20
                        +e.slider-nav-item
                            +e.slider-nav-card
                                +e.SPAN.slider-nav-title Супермакет «Магнит»
                                +e.SPAN.slider-nav-address Москва, СВАО, ул. Сухонская 7а
                        +e.slider-nav-item
                            +e.slider-nav-card
                                +e.SPAN.slider-nav-title Торговый центр
                                +e.SPAN.slider-nav-address Московская область
                        +e.slider-nav-item
                            +e.slider-nav-card
                                +e.SPAN.slider-nav-title Бизнец-центр «Янтарный»
                                +e.SPAN.slider-nav-address Санкт-Петербург, ул. Кирочная, 12
                        +e.slider-nav-item
                            +e.slider-nav-card
                                +e.SPAN.slider-nav-title Бизнец-центр «Белый Остров»
                                +e.SPAN.slider-nav-address Санкт-Петербург, ул. Белоостровская, 64
                +e.P.text
                    | Благодаря тщательному отбору объектов и покупке недвижимости без посредников, AKTIVO делает безопасными инвестиции со средней доходностью до 17% годовых. Инвестируйте от 500 тысяч до 100 миллионов рублей в безопасные активы, соответствующие вашим целям
                +e.A.button(href='#') Все объекты
 