.object-select {
    padding: 70px 0 80px;

    font-family: $segoe;
    color: $darktext;
}

.object-select__wrapper {
    padding: 0 50px;
}

.object-select__heading {
    margin: 0 0 65px;
    padding-left: 41%;

    .title {
        width: 420px;
    }
}

.object-select__slider {
    width: 100%;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        width: 136px;
        height: 100%;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 65%, #ffffff);
    }
}

.object-select__slider-cards {
    position: absolute;
    top: -135px;
    z-index: 10;
    width: 408px;
    // height: 552px;
    // padding: 35px;
    background-color: transparent;
    // box-shadow: 0 5px 30px 0 rgba(25, 53, 117, 0.1);
}

.object-select__slider-card {
    padding-top: 80px;
    padding-bottom: 80px;
}

.object-select__slider-card-image{
    width: 240px;
    top: -32px;
    position: absolute;
    margin-left: 52px;
    z-index: 1;

    img {
        @include img
    }
}

// .object-select .slick-list {
//     overflow-y: visible;
// }

.object-select__slider-nav {
    width: 100%;
    margin-bottom: 65px;
    
    text-align: center;
}

.object-select__slider-nav-card {
    padding: 20px 30px;
    margin: 30px 10px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 5px 30px 0 rgba(25, 53, 117, 0.1);
}