mixin security-topscreen()
    +b.SECTION.security-topscreen
        +inner
            +e.H1.heading Безопасность
            +e.P.text
                | Мы взяли на себя весь процесс и риски подбора лучших и низкорисковых объектов, их приобретения и управления ими в интересах инвесторов, для получения безопасного и регулярного дохода, сохранения и преумножения капитала.