mixin about-team()
    +b.SECTION.about-team
        +inner
            +e.heading
                +subtitle('center')
                    | В надежных руках
                +title('center')
                    | Совет директоров
            +e.slider
                +e.slide
                    +e.slide-inner
                        +e.photo
                            +e.photo-bg
                                include ../../../images/about/team_bg1.svg
                            img(src="../images/about/hartmann.png", alt="Оскар Хартманн")
                        +e.name Оскар Хартманн,
                        +e.post Основатель и Президент AKTIVO
                        +e.P.desc
                            | Основатель крупнейшего интернет-ритейлера модных брендов в российском сегменте интернета KupiVip.ru. Один из основателей Fastlane Ventures, Simile Ventures Partners, CarPrice.
                +e.slide
                    +e.slide-inner
                        +e.photo
                            +e.photo-bg
                                include ../../../images/about/team_bg2.svg
                            img(src="../images/about/klimenko.png", alt="Егор Клименко")
                        +e.name Егор Клименко,
                        +e.post Генеральный директор AKTIVO
                        +e.P.desc
                            | Опыт работы на рынке инвестиций более 15 лет. Ранее —  управляющий партнер NRG, крупнейшей консалтинговой компании в сфере альтернативных инвестиций.
                +e.slide
                    +e.slide-inner
                        +e.photo
                            +e.photo-bg
                                include ../../../images/about/team_bg3.svg
                            img(src="../images/about/kostromin.png", alt="Михаил Костромин")
                        +e.name Михаил Костромин,
                        +e.post Руководитель департамента продаж
                        +e.P.desc
                            | Обладает разносторонним опытом работы в инвестиционных компаниях более 9 лет, эксперт в области продаж финансовых продуктов. Ранее — успешно работал в компаниях Allianz, Газпромбанк, ФГ БКС.