mixin object-finances()
    +b.SECTION.object-finances
        +e.H2.heading Финансы
        +e.subtitle Годовые финансовые показатели объекта
        +e.content
            +e.col
                +e.chart
                    canvas#chart-area
            +e.col
                +e.data