.object-finances {

}

.object-finances__heading {
    margin: 0;
    margin-bottom: 20px;

    font-size: 24px;
}

.object-finances__subtitle {
    margin-bottom: 40px;

    font-size: 24px;
}

.object-finances__text {
    margin: 0;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 1.5;

    &:last-child {
        margin-bottom: 0;
    }
}

.object-finances__chart {
    position: relative;
    width: 260px;
    height: 260px;
    margin-right: 100px;
}