.object-rating {
    margin-bottom: 65px;
}

.object-rating__title {
    margin: 0;
    margin-bottom: 10px;

    font-size: 24px;
    font-weight: 400;
}

.object-rating__line {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}


.object-rating__current {
    position: relative;
    width: 99px;
    height: 99px;
    margin-right: 20px;
    flex: 0 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    color: $lighttext;
    font-weight: 700;

    .image {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: transparent !important;

        svg {
            position: absolute;
            width: 100%;
            height: 100%;
            fill: currentColor;
        }
    }

    .value {
        position: absolute;
        display: inline-block;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
    }
}

.object-rating__graph {
    flex: 1 1 auto;
    display: flex;
}

.object-rating__graph-item {
    flex: 1 1 auto;
    position: relative;
    height: 8px;
}

.object-rating__graph-label {
    position: relative;
    bottom: -16px;
    
    text-align: center;
    color: #9b9b9b;
}

.object-rating__table {
    width: 100%;

    th {
        padding: 12px 16px;

        font-size: 16px;
        font-weight: 700;
        text-align: left;

        &:last-child {
            padding-right: 50px;
        }
    }

    td {
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 400;

        &:last-child {
            padding-right: 50px;

            text-align: right;
        }
    }

    tbody tr:nth-child(2n) {
        background-color: #f5f7f9;
    }
 }

.object-rating {
    .value-aaa {
        background-color: rgba(#5fce67, 1);
        color: rgba(#5fce67, 1);
    }

    .value-aa {
        background-color: #5fce67;
        color: rgba(#5fce67, 0.7);
    }

    .value-a {
        background-color: rgba(#5fce67, 0.4);
        color: rgba(#5fce67, 0.4);
    }

    .value-bbb {
        background-color: rgba(#ffd729, 1);
        color: rgba(#ffd729, 1);
    }

    .value-bb {
        background-color: rgba(#ffd729, 0.7);
        color: rgba(#ffd729, 0.7);
    }

    .value-b {
        background-color: rgba(#ffd729, 0.4);
        color: rgba(#ffd729, 0.4);
    }

    .value-ccc {
        background-color: rgba(#f52f4b, 1);
        color: rgba(#f52f4b, 1);
    }

    .value-cc {
        background-color: rgba(#f52f4b, 0.7);
        color: rgba(#f52f4b, 0.7);
    }

    .value-c {
        background-color: rgba(#f52f4b, 0.4);
        color: rgba(#f52f4b, 0.4);
    }
 }
 
 @media (max-width: 480px) {
    .object-rating {
        margin-bottom: 25px;
    }

    .object-rating__title {
        font-size: 20px;
    }

    .object-rating__line {
        display: block;
    }

    .object-rating__current {
        margin: 0 auto;
    }

    .object-rating__graph-label {
        bottom: -13px;
        font-size: 12px;
    }

    .object-rating__table {
        th {
            padding: 10px 12px;
            font-size: 14px;
        }
        td {
            padding: 10px 12px;
            font-size: 12px;
        }
    } 
 }