.vacancies {
    padding-top: 15px;
    padding-bottom: 175px;
    min-height: 70vh;

    font-family: $segoe;
    color: $darktext;
}

.vacancies__heading {
    margin: 0;
    margin-bottom: 65px;

    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.vacancies__list {
    max-width: 816px;
    margin: 0 auto;
}

.vacancies__item {
    margin-top: -1px;
}

.vacancies__title {
    position: relative;
    padding: 15px;
    padding-right: 50px;
    border-top: solid 1px #f5f7f9;
    border-bottom: solid 1px #f5f7f9;

    font-size: 24px;
    font-weight: 600;

    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        right: 32px;
        top: 50%;
        transform: translateY(-50%);
        border-style: solid;
        border-width: 8px 6px 0 6px;
        border-color: $themecolor transparent transparent transparent;

        transition: transform 300ms ease;
    }

    &.active::after {
        transform: translateY(-50%) rotate(180deg);
    }
}

.vacancies__description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;

    &.active {
        max-height: none;
    }
}

.vacancies__subtitle {
    margin-bottom: 15px;

    font-size: 16px;
    font-weight: 700;

    &:first-child {
        padding-top: 20px;
    }
}

.vacancies__sublist {
    padding-left: 33px;
    margin: 0 0 35px;
    list-style: none
}

.vacancies__subitem {
    position: relative;
    font-size: 16px;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 2px;
        left: -33px;
        top: 11px;

        background-color: $themecolor;
    }
}

.vacancies__appeal {
    padding-bottom: 40px;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    a {
        color: #3c7bd8;
    }
}

@media (max-width: 768px) {
    .vacancies {
        padding-top: 45px;
        padding-bottom: 105px;
    }

    .vacancies__heading {
        margin-bottom: 45px;

        font-size: 32px;
    }
}

@media (max-width: 480px) {
    .vacancies__title {
        font-size: 18px;
    }

    .vacancies__sublist {
        margin-bottom: 20px;
    }

    .vacancies__subitem {
        font-size: 14px;
    }

    .vacancies__appeal {
        font-size: 14px;
    }
}