mixin vacancies()
    +b.SECTION.vacancies
        +inner
            +e.H1.heading Карьера в Активо
            +e.list
                +e.item
                    +e.title.active Менеджер по работе с клиентами
                    +e.description.active
                        +e.subtitle Обязанности:
                        +e.UL.sublist
                            +e.LI.subitem Обработка входящего потока обращений клиентов: телефон, почта, обращения через CRM;
                            +e.LI.subitem Планирование продаж;
                            +e.LI.subitem Полное сопровождение клиентов;
                            +e.LI.subitem Поиск потенциальных клиентов, ведение переговоров.
                        +e.subtitle Требования:
                        +e.UL.sublist
                            +e.LI.subitem Отличные коммуникативные навыки, умение выстраивать взаимовыгодные отношения с клиентом;
                            +e.LI.subitem Умение планировать;
                            +e.LI.subitem Клиентоориентированность, стрессоустойчивость;
                            +e.LI.subitem Активная жизненная позиция;
                            +e.LI.subitem Желание работать и зарабатывать;
                            +e.LI.subitem Опыт работы в продажах не менее года (приветствуется в сфере недвижимости или инвестиционных продуктов).
                        +e.subtitle Условия:
                        +e.UL.sublist
                            +e.LI.subitem Перспективы роста и развития, как профессионального, так и финансового.
                            +e.LI.subitem Профессиональное развитие сотрудника. Обучение технике продаж, переговорам, работе с возражениями клиентов.
                            +e.LI.subitem Перспектива быстрого карьерного роста;
                            +e.LI.subitem График работы: пн-пт, с 10.00 до 19.00.
                        +e.appeal
                            | Присылайте резюме на почту <a href='mailto:hr@aktivo.ru'>hr@aktivo.ru</a><br> с указанием в теме «Менеджер по работе с клиентами»
                            
                +e.item
                    +e.title Помощник юриста
                    +e.description
                        +e.subtitle Требования:
                        +e.UL.sublist
                            +e.LI.subitem Отличные коммуникативные навыки, умение выстраивать взаимовыгодные отношения с клиентом;
                            +e.LI.subitem Умение планировать;
                            +e.LI.subitem Клиентоориентированность, стрессоустойчивость;
                            +e.LI.subitem Активная жизненная позиция;
                            +e.LI.subitem Желание работать и зарабатывать;
                            +e.LI.subitem Опыт работы в продажах не менее года (приветствуется в сфере недвижимости или инвестиционных продуктов).
                        +e.appeal
                            | Присылайте резюме на почту <a href='mailto:hr@aktivo.ru'>hr@aktivo.ru</a><br> с указанием в теме «Менеджер по работе с клиентами»