.base-checkbox {
    position: relative;
    width: 100%;

    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.base-checkbox__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.base-checkbox__label {
    display: block;
    width: 100%;
    position: relative;
    padding-left: 33px;

    text-align: left;

    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        left: 0;
        top: 50%;
        transform: translateY(-40%);

        border: 1px solid #848f9b;
        background-color: #fff;

        transition: background-color 300ms ease;
    }

    &::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: 50%;
        transform: translateY(-40%);

        background-image: url('../images/layout/checked-black.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px 8px;

        opacity: 0;

        transition: opacity 300ms ease;
    }
}

.base-checkbox__input:checked+.base-checkbox__label {
    &::before {
        background-color: $themecolor;
    }

    &::after {
        opacity: 1;
    }
}

.base-checkbox__errors {
    display: none;
    position: relative;
    margin-top: 5px;

    font-size: 14px;
    color: #f52f4b;
}

@media (max-width: 480px) {
    .base-checkbox {
        font-size: 12px;
    }

    .base-checkbox__label {
        min-width: 45px;
        padding: 7px 12px;
        padding-left: 27px;
    }
}