.documents-content {
    padding-bottom: 64px;
    min-height: 70vh;

    font-family: $segoe;
    color: $darktext;
}

.documents-content__block {
    padding: 32px;
    margin-bottom: 10px;

    box-shadow: 0 0 30px rgba(60, 123, 216, 0.1);
    background-color: #ffffff;

    &.right {
        text-align: right;
    }
}

.documents-content__title {
    display: inline-block;
    position: relative;
    // margin-bottom: 15px;
    padding-left: 30px;

    font-size: 16px;
    font-weight: 700;

    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        top: 50%;
        left: 2px;

        border: 2px solid black;
        border-right-color: transparent;
        border-bottom-color: transparent;

        transform: rotate(45deg) translateX(0);
        transform-origin: center;

        transition: transform 300ms ease;
    }

    &.active {
        &::before {
            transform: rotate(225deg) translate(50%, 50%);
        }
    }
}

.documents-content__data {
    display: none;
    text-align: left;

    &.active {
        display: block;
    }
}

.documents-content__table-wrapper {
    padding-top: 20px;
}

.documents-content__table {
    width: 100%;
    border-collapse: collapse;
}

.documents-content__table-row {
    &:nth-child(2n + 1) {
        background-color: rgba(#f5f7f9, 1);
    }

    td {
        width: 25%;

        &:first-child {
            width: 50%;
        }
    }
}

.documents-content__name {
    padding: 12px 30px;

    font-size: 16px;
    font-weight: 400;
}

.documents-content__status {
    padding: 12px 30px;
    text-align: right;
}

.documents-content__status-label {
    display: inline-block;
    padding: 2px 16px 4px;

    font-size: 12px;

    border-radius: 12px;
    border: 1px solid transparent;

    &--yellow {
        background-color: $themecolor;
        border-color: $themecolor;
    }

    &--white {
        background-color: transparent;
        border-color: #f5f7f9;
    }

    &--grey {
        background-color: #848f9b;
        border-color: #848f9b;
        color: $lighttext;
    }
}

.documents-content__actions {
    padding: 12px 30px;
    padding-left: 5%;
}

.documents-content__actions-list {
    display: flex;
}

.documents-content__action-link {
    position: relative;
    padding-left: 20px;
    margin-right: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    color: #3c7bd8;
    text-decoration: none;

    transition: color 300ms ease;

    &:last-child {
        margin-right: 0;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: darken($color: #3c7bd8, $amount: 20%);
    }

    &::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 10px;
        top: 50%;
        left: 0;
        transform: translateY(-35%);

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    &--watch::before {
        background-image: url('../images/layout/doc-watch.svg');
    }

    &--download::before {
        background-image: url('../images/layout/doc-download.svg');
    }

    &--pay::before {
        background-image: url('../images/layout/doc-download.svg');
        transform: translateY(-35%) rotate(-90deg);
    }
}

.documents-content__account {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-right: 32px;

    &--opened {
        &::before {
            flex: 0 0 auto;
            content: '';
            position: relative;
            width: 24px;
            height: 24px;
            left: 0;
            margin-right: 12px;
            align-self: flex-start;
        
            border-radius: 50%;

            background-size: cover;
        }
    }

    &--process {
        &::before {
            background-image: url(../images/layout/process.svg);
        }
    }

    &--success {
        &::before {
            background-image: url(../images/layout/success.svg);
        }
    }

    &--fail {
        &::before {
            background-image: url(../images/layout/fail.svg);
        }
    }

    &--success,
    &--fail {
        .documents-content__account-text {
            color: $darktext;
        }
    }
}

.documents-content__account-button {
    @include btn-theme(#3c7bd8);
    padding: 16px 40px;
    margin-right: 20px;
    flex: 0 0 auto;

    font-size: 18px;
    color: #fff;

    &:hover,
    &:active,
    &:focus {
        color: #fff;
    }
}

.documents-content__account-text {
    margin-right: 20px;
    flex: 1 1 auto;

    font-size: 16px;
    color: rgba($color: $darktext, $alpha: 0.4);

    p {
        margin: 0 0 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.documents-content__account-logo {
    flex: 0 0 160px;

    img {
        @include img;
    }
}

@media (max-width: 1040px) {
    .documents-content__status {
        padding-left: 10px;
        padding-right: 10px;
    }

    .documents-content__account-button {
        padding: 14px 20px;

        font-size: 16px;
    }

    .documents-content__account-text {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .documents-content__block {
        padding: 30px 45px;
    }

    .documents-content__name {
        padding: 9px 20px;
        font-size: 14px;
    }

    .documents-content__account-logo {
        display: none;
    }
}

@media (max-width: 480px) {
    .documents-content__block {
        padding: 20px 15px;
    }

    .documents-content__title {
        padding-left: 20px;

        font-size: 14px;

        &::before {
            width: 3px;
            height: 3px;
            border-width: 1px;
        }
    }

    .documents-content__table-wrapper {
        overflow-x: auto;
    }

    .documents-content__table {
        width: 480px;
    }

    .documents-content__table-row {
        td:first-child {
            width: 40%;
        }
    }

    .documents-content__name {
        padding: 6px 10px;

        font-size: 12px;
    }

    .documents-content__status {
        padding: 6px 10px;
    }

    .documents-content__status-label {
        padding: 1px 5px 3px;

        font-size: 10px;
    }

    .documents-content__actions {
        padding: 6px 5px;
    }

    .documents-content__action-link {
        padding-left: 15px;

        font-size: 10px;

        &::before {
            width: 8px;
            height: 6px;
        }
    }

    .documents-content__account {
        padding-top: 20px;
        flex-wrap: wrap;

        &--opened {
            &::before {
                width: 18px;
                height: 18px;
                margin-right: 10px;
            }
        }
    }

    .documents-content__account-button {
        margin-bottom: 10px;
        padding: 12px 15px;

        font-size: 14px;
    }

    .documents-content__account-text {
        width: calc(100% - 30px);
        margin: 0;

        font-size: 13px;
    }
}
