mixin documents-content()
    +b.SECTION.documents-content
        +inner
            +e.block
                +e.group
                    +e.title.active Продажа № 117054 «Активо один»
                    +e.table-wrapper.active
                        +e.TABLE.table
                            +e.TR.table-row
                                +e.TD.name Договор купли-продажи паёв 
                                +e.TD.status
                                    +e.status-label.--yellow На подпись
                                +e.TD.actions
                                    +e.actions-list
                                        +e.A.action-link.--watch(href='#') Прочитать
                                        +e.A.action-link.--pay(href='#') Оплатить
                            +e.TR.table-row
                                +e.TD.name Набор документов для печати — вторичный рынок
                                +e.TD.status
                                    +e.status-label.--white Для ознакомления
                                +e.TD.actions
                                    +e.actions-list
                                        +e.A.action-link.--download(href='#') Скачать
                            +e.TR.table-row
                                +e.TD.name Договор купли-продажи паёв 
                                +e.TD.status
                                    +e.status-label.--grey Подписано
                                +e.TD.actions
                                    +e.actions-list
                                        +e.A.action-link.--download(href='#') Скачать
                                        +e.A.action-link.--watch(href='#') Взглянуть
                            +e.TR.table-row
                                +e.TD.name Набор документов для печати — вторичный рынок 
                                +e.TD.status
                                    +e.status-label.--grey Оплачено
                                +e.TD.actions
                                    +e.actions-list
                                        +e.A.action-link.--download(href='#') Скачать
                            +e.TR.table-row
                                +e.TD.name Набор документов для печати — вторичный рынок 
                                +e.TD.status
                                    +e.status-label.--yellow Оплатить
                                +e.TD.actions
                                    +e.actions-list
                                        +e.A.action-link.--download(href='#') Скачать
                +e.group
                    +e.title Продажа № 117054 «Активо один»
                    +e.table-wrapper
                        +e.TABLE.table
                            +e.TR.table-row
                                +e.TD.name Договор купли-продажи паёв 
                                +e.TD.status
                                    +e.status-label.--yellow На подпись
                                +e.TD.actions
                                    +e.actions-list
                                        +e.A.action-link.--watch(href='#') Прочитать
                                        +e.A.action-link.--pay(href='#') Оплатить
                            +e.TR.table-row
                                +e.TD.name Набор документов для печати — вторичный рынок
                                +e.TD.status
                                    +e.status-label.--white Для ознакомления
                                +e.TD.actions
                                    +e.actions-list
                                        +e.A.action-link.--download(href='#') Скачать
                            +e.TR.table-row
                                +e.TD.name Договор купли-продажи паёв 
                                +e.TD.status
                                    +e.status-label.--grey Подписано
                                +e.TD.actions
                                    +e.actions-list
                                        +e.A.action-link.--download(href='#') Скачать
                                        +e.A.action-link.--watch(href='#') Взглянуть
                            +e.TR.table-row
                                +e.TD.name Набор документов для печати — вторичный рынок 
                                +e.TD.status
                                    +e.status-label.--grey Оплачено
                                +e.TD.actions
                                    +e.actions-list
                                        +e.A.action-link.--download(href='#') Скачать
                            +e.TR.table-row
                                +e.TD.name Набор документов для печати — вторичный рынок 
                                +e.TD.status
                                    +e.status-label.--yellow Оплатить
                                +e.TD.actions
                                    +e.actions-list
                                        +e.A.action-link.--download(href='#') Скачать
                +e.group
                    +e.title Продажа № 117054 «Активо один»
                    +e.table-wrapper
                        +e.TABLE.table
                            +e.TR.table-row
                                +e.TD.name Договор купли-продажи паёв 
                                +e.TD.status
                                    +e.status-label.--yellow На подпись
                                +e.TD.actions
                                    +e.actions-list
                                        +e.A.action-link.--watch(href='#') Прочитать
                                        +e.A.action-link.--pay(href='#') Оплатить
                            +e.TR.table-row
                                +e.TD.name Набор документов для печати — вторичный рынок
                                +e.TD.status
                                    +e.status-label.--white Для ознакомления
                                +e.TD.actions
                                    +e.actions-list
                                        +e.A.action-link.--download(href='#') Скачать
                            +e.TR.table-row
                                +e.TD.name Договор купли-продажи паёв 
                                +e.TD.status
                                    +e.status-label.--grey Подписано
                                +e.TD.actions
                                    +e.actions-list
                                        +e.A.action-link.--download(href='#') Скачать
                                        +e.A.action-link.--watch(href='#') Взглянуть
                            +e.TR.table-row
                                +e.TD.name Набор документов для печати — вторичный рынок 
                                +e.TD.status
                                    +e.status-label.--grey Оплачено
                                +e.TD.actions
                                    +e.actions-list
                                        +e.A.action-link.--download(href='#') Скачать
                            +e.TR.table-row
                                +e.TD.name Набор документов для печати — вторичный рынок 
                                +e.TD.status
                                    +e.status-label.--yellow Оплатить
                                +e.TD.actions
                                    +e.actions-list
                                        +e.A.action-link.--download(href='#') Скачать