.documents-content {
    padding-bottom: 64px;
    min-height: 70vh;

    font-family: $segoe;
    color: $darktext;
}

.documents-content__block {
    padding: 40px 60px;

    box-shadow: 0 0 30px rgba(60, 123, 216, 0.1);
    background-color: #ffffff;
}

.documents-content__group {
    margin-bottom: 55px;
}

.documents-content__title {
    position: relative;
    margin-bottom: 15px;
    padding-left: 30px;

    font-size: 16px;
    font-weight: 700;

    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        top: 50%;
        left: 2px;

        border: 2px solid black;
        border-right-color: transparent;
        border-bottom-color: transparent;

        transform: rotate(45deg) translateY(25%);
        transform-origin: center;

        transition: transform 300ms ease;
    }

    &.active {
        &::before {
            transform: rotate(225deg) translate(50%, 50%);
        }
    }
}

.documents-content__table-wrapper {
    display: none;

    &.active {
        display: block;
    }
}

.documents-content__table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.documents-content__table-row {

    &:nth-child(2n+1) {
        background-color: rgba(#f5f7f9, 1);
    }

    td {
        width: 25%;

        &:first-child {
            width: 50%;
        }
    }
}

.documents-content__name {
    padding: 12px 30px;

    font-size: 16px;
    font-weight: 400;
}

.documents-content__status {
    padding: 12px 30px;
    text-align: right;
}

.documents-content__status-label {
    display: inline-block;
    padding: 2px 16px 4px;

    font-size: 12px;

    border-radius: 12px;
    border: 1px solid transparent;

    &--yellow {
        background-color: $themecolor;
        border-color: $themecolor;
    }

    &--white {
        background-color: transparent;
        border-color: #f5f7f9;
    }

    &--grey {
        background-color: #848f9b;
        border-color: #848f9b;
        color: $lighttext;
    }
}

.documents-content__action {
    padding: 12px 30px;
    padding-left: 100px;
}

.documents-content__action-link {
    position: relative;
    padding-left: 20px;

    font-size: 12px;
    color: #3c7bd8;
    text-decoration: none;

    transition: color 300ms ease;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: darken($color: #3c7bd8, $amount: 20%);
    }

    &::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 10px;
        top: 50%;
        left: 0;
        transform: translateY(-35%);

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    &--watch::before {
        background-image: url('../images/layout/doc-watch.svg');
    }

    &--download::before {
        background-image: url('../images/layout/doc-download.svg');
    }
}

@media (max-width: 1040px) {
    .documents-content__action {
        padding-left: 45px;
    }

    .documents-content__status {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 768px) {
    .documents-content__block {
        padding: 30px 45px;
    }

    .documents-content__table-row {
        td:first-child {
            width: 40%;
        }
    }

    .documents-content__name {
        padding: 9px 20px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .documents-content__block {
        padding: 20px 15px;
    }

    .documents-content__group {
        margin-bottom: 35px; 
    }

    .documents-content__title {
        padding-left: 20px;

        font-size: 14px;

        &::before {
            width: 3px;
            height: 3px;
            border-width: 1px;
        }
    }

    .documents-content__table-wrapper {
        overflow-x: auto;
    }

    .documents-content__table {
        width: 480px;
    }

    .documents-content__table-row {
        td:last-child {
            width: 20%;
        }
    }

    .documents-content__name {
        padding: 6px 10px;

        font-size: 12px;
    }

    .documents-content__status {
        padding: 6px 10px;
    }

    .documents-content__status-label {
        padding: 1px 5px 3px;

        font-size: 10px;
    }

    .documents-content__action {
        padding: 6px 10px;
    }

    .documents-content__action-link {
        padding-left: 15px;

        font-size: 10px;

        &::before {
            width: 8px;
            height: 6px;
        }
    }
}
