form.default-form.dt-1{
  .field {
    .feedback-recaptcha {
      transform:scale(0.89);
      -webkit-transform:scale(0.89);
      transform-origin:0 0;
      -webkit-transform-origin:0 0;
    }
  }
}