mixin top-screen(id)
    +b.SECTION.top-screen(id='#{id}')
        +inner
            +e.H1.main-heading
                | Надежное решение Вашей проблемы
            +e.H2.secondary-heading  
                | Коллегия грамотных адвокатов и юристов&nbsp;
            +e.H3.utp
                | Оцените компетентность адвокатов, <br>получите бесплатный прогноз по Вашему делу
            +e.buttons
                +e.A.button(href='#modal1' data-toggle="modal" data-target="#modal1")
                    | Получить бесплатный прогноз
            +e.alert
                | 
                //- +e.A.button.--grey(href='#3') 
                //-     span Узнать больше

