mixin recommendations()
    +b.SECTION.recommendations
        +inner
            +e.heading
                    +title
                        | Три причины, по которым Вас могут задержать.
            +e.UL.list
                +e.LI.item Вы застигнуты на месте при совершении преступления или сразу после преступления
                    +e.UL.inner-list
                        +e.LI.inner-item убежали с места, но Вас догнали или Ваши деяния сняли на видео, а потом опознали и задержали
                +e.LI.item Когда очевидцы или потерпевшие укажут на Вас,
                    +e.UL.inner-list 
                        +e.LI.inner-item в том числе опознают как на лицо, совершившее преступление
                +e.LI.item Когда на Вас или при Вас, то есть в одежде, машине, в жилище, будут обнаружены явные следы преступления:
                    +e.UL.inner-list
                        +e.LI.inner-item кровь потерпевшего, оружие, наркотики похищенное имущества