mixin partner-triggers()
    +b.SECTION.partner-triggers
        +inner
            +e.H2.heading Кто наш партнер?
            +e.UL.list
                +e.LI.item
                    +e.item-image
                        include ../../../app/images/partner/trigger1.svg
                    +e.item-legend Специалисты по продаже недвижимости и инвестиционных продуктов
                +e.LI.item
                    +e.item-image.--reverse
                        include ../../../app/images/partner/trigger2.svg
                    +e.item-legend Информационные партнеры&nbsp;и&nbsp;блогеры
                +e.LI.item
                    +e.item-image
                        include ../../../app/images/partner/trigger3.svg
                    +e.item-legend Риэлторские агентства и&nbsp;брокерские&nbsp;дома