mixin about-media()
    +b.SECTION.about-media
        +inner
            +e.H2.heading СМИ о нас
            +e.UL.list
                +e.LI.item
                    img(src='images/about/mm/mm1.png')
                +e.LI.item
                    img(src='images/about/mm/mm2.png')
                +e.LI.item
                    img(src='images/about/mm/mm3.png')
                +e.LI.item
                    img(src='images/about/mm/mm4.png')
                +e.LI.item
                    img(src='images/about/mm/mm5.png')
                +e.LI.item
                    img(src='images/about/mm/mm6.png')
                +e.LI.item
                    img(src='images/about/mm/mm7.png')
                +e.LI.item
                    img(src='images/about/mm/mm8.png')
            +e.appeal
                +e.P.appeal-text Персональный финансовый советник ответит на ваши вопросы
                +e.BUTTON.appeal-button Позвоните мне