mixin objects()
    +b.SECTION.objects
        +inner
            +e.H1.heading Наши объекты
            +e.H2.subheading Про одобренным банковским кредитом и проведенным due diligance. Т.е. объекты которые мы можем реккомендовать как инвестеционно привлекательные.
            +e.list
                +e.item
                    +object-item('1', true)
                +e.item
                    +object-item('2', true)
                +e.item
                    +object-item('3', false, true)
                +e.item
                    +object-item('4')
                +e.item
                    +object-item('5')
                +e.item
                    +object-item('6')
                +e.item
                    +object-item('4')
                +e.item
                    +object-item('5')
                +e.item
                    +object-item('6')
                +e.item
                    +object-item('4')
                +e.item
                    +object-item('5')