mixin verification-nav
    +b.NAV.verification-nav
        +e.UL.list
            +e.LI.item
                +e.A.link(href='./general.html') Основная информация
            +e.LI.item
                +e.A.link(href='./passport.html') Паспортные данные
            +e.LI.item
                +e.A.link(href='./bank-data.html') Банковские реквизиты
            +e.LI.item
                +e.A.link(href='./additional.html') Дополнительные сведения
            +e.LI.item
                +e.A.link(href='./fatca.html') Требования FATCA
            +e.LI.item
                +e.A.link(href='./upload.html') Загрузка документов