mixin verification-nav
    +b.NAV.verification-nav
        +e.UL.list
            +e.LI.item
                +e.A.link(href='#')
            +e.LI.item
                +e.A.link(href='#')
            +e.LI.item
                +e.A.link(href='#')
            +e.LI.item
                +e.A.link(href='#')
            +e.LI.item
                +e.A.link(href='#')
            +e.LI.item
                +e.A.link(href='#')
