.verification-nav {
    width: 100%;

    font-family: $segoe;
    color: $darktext;
}

.verification-nav__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.verification-nav__item {
    border-bottom: 1px solid #f9fbfd;
    padding-left: 50px;
}

.verification-nav__link {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 48px;

    color: $darktext;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;

    &.active {
        font-weight: 700;
        z-index: 3;

        &::before {
            transform: scaleX(1.1);
            box-shadow: 3px 0 30px rgba(60, 123, 216, 0.16);
        }

        &::after {
            opacity: 1;
        }
    }

    &:hover,
    &:active,
    &:focus {
        color: $darktext;
        text-decoration: none;
        z-index: 3;

        &::before {
            transform: scaleX(1.1);
            box-shadow: 0 0 30px rgba(60, 123, 216, 0.16);
        }

        // &::after {
        //     opacity: 1;
        // }
    }

    &::before {
        content: '';
        position: absolute;
        width: calc(100% + 50px);
        height: 100%;
        left: -50px;
        background-color: #fff;
        // z-index: -1;

        transform-origin: left center;

        transition: all 300ms ease;
    }

    &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        top: 0;
        right: -45px;
        opacity: 0;
        border-top: 24px solid transparent;
        border-bottom: 24px solid transparent;
        border-left: 15px solid #fff;
        transition: opacity 100ms ease;
    }

    span {
        position: relative;
        z-index: 2;
    }
}

@media (max-width: 768px) {
    .verification-nav__item {
        padding-left: 0;
    }

    .verification-nav__link {

        font-size: 14px;
        text-align: center;

        &.active {
            &::before {
                transform: none;
                box-shadow: 0 0 15px rgba(60, 123, 216, 0.16);
            }

            &::after {
                opacity: 1;
            }
        }

        &:hover,
        &:active,
        &:focus {
            &::before {
                box-shadow: 0 0 15px rgba(60, 123, 216, 0.16);
            }

            // &::after {
            //     opacity: 1;
            // }
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;

            transition: all 300ms ease;
        }

        &::after {
            top: auto;
            right: auto;
            bottom: -15px;
            left: 50%;
            z-index: -1;

            border: 15px solid #f9fbfd;
            border-color: transparent transparent #fff #fff;
            transform-origin: 0 0;
            transform: rotate(-45deg) translateX(-50%);

            box-shadow: 0 0 15px rgba(60, 123, 216, 0.16);
        }

        span {
            margin: 0 auto;
        }
    }
}