mixin object-table()
    +b.SECTION.object-table
        +e.H3.title Таблица с данными
        +e.wrapper
            +e.TABLE.table
                thead
                    tr
                        th 
                        th Январь
                        th Февраль
                        th Март
                        th Апрель
                        th Май
                        th Июнь
                        th Июль
                        th Август
                        th Сентябрь
                        th Октябрь
                        th Ноябрь
                        th Декабрь
                tbody
                    tr
                        td Доход
                        td 10 000 р.
                        td 6 000 р.
                        td 20 000 р.
                        td 2 000 р.
                        td 99 000 р.
                        td 21 000 р.
                        td 17 000 р.
                        td 211 000 р.
                        td 10 000 р.
                        td 6 000 р.
                        td 20 000 р.
                        td 2 000 р.
                    tr
                        td Расход
                        td 1 000 р.
                        td 2 000 р.
                        td 2 000 р.
                        td 1 000 р.
                        td 9 000 р.
                        td 1 000 р.
                        td 7 000 р.
                        td 21 000 р.
                        td 1 000 р.
                        td 4 000 р.
                        td 100 р.
                        td 2 000 р.
                    tr
                        td Чод
                        td 1 000 р.
                        td 2 000 р.
                        td 2 000 р.
                        td 1 000 р.
                        td 9 000 р.
                        td 1 000 р.
                        td 7 000 р.
                        td 21 000 р.
                        td 1 000 р.
                        td 4 000 р.
                        td 100 р.
                        td 2 000 р.
                    tr
                        td Комиссия за управление
                        td 1 000 р.
                        td 1 000 р.
                        td 1 000 р.
                        td 1 000 р.
                        td 1 000 р.
                        td 1 000 р.
                        td 1 000 р.
                        td 1 000 р.
                        td 1 000 р.
                        td 1 000 р.
                        td 1 000 р.
                        td 1 000 р.
                    
