mixin divider(id)
    +b.SECTION.divider(id='#{id}')
        +inner
            +e.heading
                +title Ключевые особенности работы
            +e.content
                +e.item
                    +e.SPAN.icon
                        +icon('divider1', 'divider')
                    +e.H3.title Работаем по договору
                    +e.P.text
                        | Вся стратегия и действия прописаны в договоре. Вы полностью контролируете процесс работы
                 +e.item
                    +e.SPAN.icon
                        +icon('divider2', 'divider')
                    +e.H3.title Полная конфиденциальность
                    +e.P.text
                        | Ваши данные не передаются третьим лицам согласно Федеральному Закону от 27.07.2006 № 152-ФЗ